extends ../main

block head
    title Prestadores Externos
    link(rel="stylesheet" href="/stylesheets/others.css")

block content
    div(class="uk-container")
        //- titulo y boton de agregar
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
            div(class="titulo_1 uk-text-left   uk-text-large   uk-text-bold uk-text-primary uk-margin-bottom") Prestadores externos
            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading uk-animation-shake" href="#modal-agregar" uk-toggle)
                    img(src="/icons/more.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                    div Agregar prestador
        //- barra de busqueda
        form(class="uk-flex")
            div(class="uk-search uk-search-default uk-width-expand")
                a(href="#" uk-search-icon)
                input(class="uk-search-input" type="search" placeholder="Buscar...")
            //- boton de filtrar
            button(class="uk-button uk-button-primary uk-width-auto" href="#")
                img(src="/icons/filterWhite.png" style="width:20px;height:20px;" class="")
            div(uk-dropdown="mode: click")
                ul(class="uk-list")
                    li() sugerencia 1
                    li() sugerencia 2
                    li() sugerencia 3
        //- contenido
        div(class="uk-flex uk-flex-wrap-reverse uk-width-1-1")
            //- tabla
            div(class="uk-card uk-card-default uk-width-1-1 uk-margin-top")
                div(class="uk-card-body uk-text-center")
                    div(class="uk-overflow-auto uk-margin-top")
                        table(class="uk-table uk-table-divider")
                            thead
                                tr
                                    th(class="uk-text-center") ID
                                    th(class="uk-text-center") NOMBRE
                                    th(class="uk-text-center") ÁREA
                                    th(class="uk-text-center") TELÉFONO
                                    th(class="uk-text-center") ESTATUS
                            tbody
                                each prestador in prestadores
                                    tr(class="info" uk-toggle="target: #modal-info" data-id=prestador.id)
                                        td #{prestador.id}
                                        td #{prestador.name}
                                        td #{prestador.Provider_Area.name}
                                        td #{prestador.phone_number}
                                        if(prestador.status == 'active')
                                            td Activo
                                        else
                                            td Inactivo
            //- informacion completa
            div(id="modal-info" uk-modal)
                div(class="uk-modal-dialog uk-modal-body")
                    div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
                        div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Información completa
                        div(tabindex="0")
                            each prestador in prestadores
                                a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading editar editar-" + prestador.id uk-toggle="target: #modal-editar" data-id=prestador.Provider_Area.id)
                                    img(src="/icons/edit.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                                    div Editar
                    button(class="uk-modal-close-default" type="button" uk-close='')
                    form(class="uk-card-body uk-padding-small")
                        div
                            div.uk-grid
                                div(class="uk-width-1-2@s uk-width-1-1")
                                    .field.uk-margin-bottom
                                        input(type='text' autocomplete='on' id="info-id" name="info-id" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                                        label(for='info-id' title='Id' data-title='Id')
                                div(class="uk-width-1-2@s uk-width-1-1")
                                    .field.uk-margin-bottom
                                        select(id="info-estatus" name="role" autocomplete='off' value='' disabled)
                                            option(value="" disabled hidden selected ) Seleccionar
                                            option(value="activo") Activo
                                            option(value="inactivo") Inactivo
                                        label(for='info-estatus' title='Estatus' data-title='Estatus')
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="info-nombre" name="info-nombre" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                                label(for='info-nombre' title='Nombre Completo' data-title='Nombre Completo')
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="info-area" name="info-area" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                                label(for='info-area' title='Área' data-title='Área')
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="info-telefono" name="info-telefono" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                                label(for='info-telefono' title='Teléfono' data-title='Teléfono')
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="info-correo" name="info-correo" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                                label(for='info-correo' title='Correo' data-title='Correo')
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="info-dro" name="info-dro" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                                label(for='info-dro' title='Número de DRO' data-title='Número de DRO')
            //- agregar prestador externo
            div(id="modal-agregar" uk-modal)
                div(class="uk-modal-dialog uk-modal-body")
                    div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Agregar prestador
                    button(class="uk-modal-close-default" type="button" uk-close='')
                    div(id="errors")
                    form(class="uk-card-body uk-padding-small" id="add-form" action="/prestadores_externos/nuevo" method="POST")
                        div(class="uk-child-width-1- uk-grid")
                            div
                                .field.uk-margin-bottom
                                    select(id="add_estatus" name="add_estatus" autocomplete='off' value='' required)
                                        option(value="" disabled hidden selected ) Seleccionar
                                        option(value="active") Activo
                                        option(value="inactive") Inactivo
                                    label(for='add_estatus' title='Estatus' data-title='Estatus')
                                .field.uk-margin-bottom
                                    input(type='text' autocomplete='on' id="add_nombre" name="add_nombre" value='' onchange="this.setAttribute('value', this.value);" required='')
                                    label(for='add_nombre' title='Nombre Completo' data-title='Nombre Completo')
                                .field.uk-margin-bottom
                                    select(id="add_area" name="add_area" autocomplete='off' value='' required)
                                        option(value="" disabled hidden selected ) Seleccionar
                                        each area in areas
                                            option(value=area.id) #{area.name}
                                    label(for='add_area' title='Área' data-title='Área')
                                .field.uk-margin-bottom
                                    input(type='text' autocomplete='on' id="add_telefono" name="add_telefono" value='' onchange="this.setAttribute('value', this.value);" required='')
                                    label(for='add_telefono' title='Teléfono' data-title='Teléfono')
                                .field.uk-margin-bottom
                                    input(type='text' autocomplete='on' id="add_correo" name="add_correo" value='' onchange="this.setAttribute('value', this.value);" required='')
                                    label(for='add_correo' title='Correo' data-title='Correo')
                                .field.uk-margin-bottom
                                    input(type='text' autocomplete='on' id="add_dro" name="add_dro" value='' onchange="this.setAttribute('value', this.value);" required='')
                                    label(for='add_dro' title='Número de DRO' data-title='Número de DRO')
                                div(class="uk-width-1 uk-flex-right uk-flex")
                                    button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                                    button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="btnAgregar" type="submit") Agregar
            //- editar prestador externo
            div(id="modal-editar" uk-modal)
                div(class="uk-modal-dialog uk-modal-body")
                    div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
                        div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Editar información
                        div(tabindex="0")
                            each prestador in prestadores
                                a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-danger uk-link-heading eliminar eliminar-" + prestador.id + "" href="")
                                    img(src="/icons/delete.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                                    div Eliminar
                    button(class="uk-modal-close-default" type="button" uk-close='')
                    form(class="uk-card-body uk-padding-small" action="/prestadores_externos/edit" method="POST")
                        div
                            div.uk-grid
                                div(class="uk-width-1-2@s uk-width-1-1")
                                    .field.uk-margin-bottom
                                        input(type='text' autocomplete='on' id="edit-id" name="edit-id" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                                        label(for='edit-id' title='Id' data-title='Id')
                                div(class="uk-width-1-2@s uk-width-1-1")
                                    .field.uk-margin-bottom
                                        select(id="edit-estatus" name="role" autocomplete='off' value='')
                                            option(value="" disabled hidden selected ) Seleccionar
                                            option(value="activo") Activo
                                            option(value="inactivo") Inactivo
                                        label(for='edit-estatus' title='Estatus' data-title='Estatus')
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="edit-nombre" name="edit-nombre" value='' onchange="this.setAttribute('value', this.value);" required='')
                                label(for='edit-nombre' title='Nombre Completo' data-title='Nombre Completo')
                            .field.uk-margin-bottom
                                select(id="edit-area" name="edit-area" autocomplete='off' value='' required)
                                    option(value="" disabled hidden selected) Seleccionar
                                    each area in areas
                                            option(value=area.id) #{area.name}
                                label(for='edit-area' title='Área' data-title='Área')
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="edit-telefono" name="edit-telefono" value='' onchange="this.setAttribute('value', this.value);" required='')
                                label(for='edit-telefono' title='Teléfono' data-title='Teléfono')
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="edit-correo" name="edit-correo" value='' onchange="this.setAttribute('value', this.value);" required='')
                                label(for='edit-correo' title='Correo' data-title='Correo')
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="edit-dro" name="edit-dro" value='' onchange="this.setAttribute('value', this.value);" required='')
                                label(for='edit-dro' title='Número de DRO' data-title='Número de DRO')
                            div(class="uk-width-1 uk-flex-right uk-flex")
                                    button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                                    button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="btnEditar" type="submit") Guardar
        //- paginacion
        div(class="uk-width-1-1")
            ul(class="uk-pagination uk-margin-top")
                li()
                    a(href="#")
                        span(class="uk-margin-small-right" uk-pagination-previous)
                        | Anterior
                li(class="uk-margin-auto-left")
                    a(href="#") Siguiente
                        span(class="uk-margin-small-left" uk-pagination-next)

        script.
            function ocultar_botones() {
                $(".editar").hide();
                $(".eliminar").hide();
            }

            jQuery(($) => {
                //esto de abajo es para al momento de abrir el modal de informacion cargar los datos
                $('.info').on('click', function() {
                    var userID = $(this).data('id');
                    var users=!{ JSON.stringify(prestadores) };
                    console.log(users);
                    for(var key in users){
                        var obj=users[key];
                        if(obj["id"] == userID){
                            console.log(obj);
                            break;
                        }
                    }

                    //Aqui se esconden los botones de editar de los otros modal
                    ocultar_botones();
                    //Aqui se muestra el boton correspondiente
                    $(".editar-" + obj["id"] ).show();
                    $(".eliminar-" + obj["id"] ).show();

                    //Aqui se empieza a llenar el modal
                    $('#info-id').val(obj["id"]).change();
                    if(obj["status"]=="active"){
                        $('#info-estatus option[value="activo"]').prop('selected', 'selected').change();
                    }else{
                        $('#info-estatus option[value="inactivo"]').prop('selected', 'selected').change();
                    }
                    $('#info-nombre').val(obj["name"]).change();
                    $('#info-area').val(obj["Provider_Area"]["name"]).change();
                    $('#info-telefono').val(obj["phone_number"]).change();
                    $('#info-correo').val(obj["email"]).change();
                    $('#info-dro').val(obj["dro"]).change();
                });

                //esto de abajo es para al momento de abrir el modal de editar cargar los datos
                $('.editar').on('click', function() {
                    var userID = $(this).data('id');
                    var users=!{ JSON.stringify(prestadores) };
                    console.log(users);
                    for(var key in users){
                        var obj=users[key];
                        if(obj["id"] == userID){
                            console.log(obj);
                            break;
                        }
                    }

                    //Aqui se empieza a llenar el modal
                    $('#edit-id').val(obj["id"]).change();
                    if(obj["status"]=="active"){
                        $('#edit-estatus option[value="activo"]').prop('selected', 'selected').change();
                    }else{
                        $('#edit-estatus option[value="inactivo"]').prop('selected', 'selected').change();
                    }
                    $('#edit-nombre').val(obj["name"]).change();
                    $('#edit-area option[value=' + obj["Provider_Area"]["id"] + ']').prop('selected', 'selected').change();
                    $('#edit-telefono').val(obj["phone_number"]).change();
                    $('#edit-correo').val(obj["email"]).change();
                    $('#edit-dro').val(obj["dro"]).change();
                });

                $(document).ready(function () {
                    // ajax para agregar un nuevo prestador
                    $("#add-form").bind("submit",function(){
                        // Capturamnos el boton de envío
                        var btnAgregar = $("#btnAgregar");

                        $.ajax({
                            type: $(this).attr("method"),
                            url: $(this).attr("action"),
                            data: $(this).serialize(),
                            beforeSend: function(data){
                                /*
                                * Esta función se ejecuta durante el envió de la petición al
                                * servidor.
                                * */
                                // btnEnviar.text("Enviando"); Para button
                                btnAgregar.val("Enviando"); // Para input de tipo button
                                btnAgregar.attr("disabled","disabled");
                            },
                            complete:function(data){
                                /*
                                * Se ejecuta al termino de la petición
                                * */
                                btnAgregar.val("Enviar formulario");
                            },
                            success: function(data){
                                /*
                                * Se ejecuta cuando termina la petición y esta ha sido
                                * correcta
                                * */
                                $('#errors').css('display', 'none');
                                UIkit.notification({
                                    message: '<span uk-icon=\'icon: check\'></span>Prestador externo registrado con éxito!',
                                    status: 'success',
                                    pos: 'top-center',
                                    timeout: 2000
                                });
                                setTimeout(
                                function()
                                {
                                    window.location.href = window.location.origin + '/prestadores_externos'
                                }, 2000);
                            },
                            error: function(data){
                                /*
                                * Se ejecuta si la peticón ha sido erronea
                                * */
                                btnAgregar.removeAttr("disabled");
                                $('#errors').css('display', 'block');
                                console.log(data.responseText);
                                var errors = JSON.parse(data.responseText);
                                var errorsContainer = $('#errors');
                                errorsContainer.innerHTML = '';
                                var errorsList = '';
                                for (var i = 0; i < errors.length; i++) {
                                    //if(errors[i].redirect)
                                        //window.location.href = window.location.origin + '/logout'
                                    errorsList += '<div class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>'+ errors[i].msg +'</p></div>';
                                }
                                errorsContainer.html(errorsList);

                                alert("Problemas al tratar de enviar el formulario");
                            }
                        });
                        // Nos permite cancelar el envio del formulario
                        return false;
                    });
                });
            });
