extends ../main

block head
    title ConsultarQ - Roles
    link(rel="stylesheet" href="/stylesheets/others.css")
block content
    div(class="uk-container")
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
            div(class="uk-text-left   uk-text-large   uk-text-bold uk-text-primary uk-margin-bottom") Administrar Roles
            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading uk-animation-shake" href="/roles/nuevo")
                    img(src="/icons/more.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                    div Agregar rol
        div(class="uk-child-width-1-2@s" uk-grid)
            each role in roles
                div
                    div(class="uk-card uk-card-default uk-width-1 uk-padding-small")
                        div(class="uk-card-body uk-flex uk-padding-remove")
                            div(class="uk-animation-toggle uk-width-1 uk-text-right uk-margin-auto-left uk-margin-remove-right" tabindex="0")
                                a(class="uk-text-right uk-flex-inline uk-flex-middle uk-flex uk-text-primary uk-link-heading uk-animation-shake" href="#")
                                    img(src="/icons/edit.png" style="width:10px;height:10px" class="uk-margin-small-right")
                                    div(class="uk-text-small") Editar
                        div(class="uk-flex uk-flex-middle uk-flex-wrap")
                            div(class="uk-text-large uk-margin-small-right") #{role.name}
                            div(class="uk-right uk-margin-small-top") #{role.Permissions.length} permisos
                        div() #{role.Users.length} usuarios tienen asignado este rol
                        div(class="uk-flex uk-flex-wrap")
                            div(class="uk-width-1 uk-flex uk-flex-middle uk-flex-wrap" style="height:44px")
                                each user , index in role.Users
                                    if user.picture
                                        img(src="/uploads/avatar/"+user.picture uk-tooltip=user.Employee.name style="width:34px;height:34px;background-size:cover;object-fit:cover;" class="uk-border-circle uk-margin-small-right uk-margin-small-top")
                                    else
                                        img(src="/img/iconos/default.png" uk-tooltip=user.Employee.name style="width:34px;height:34px;background-size:cover;object-fit:cover;" class="uk-border-circle uk-margin-small-right uk-margin-small-top")
                                    if index == 4
                                        - break
                                if role.Users.length > 5
                                    div(class="uk-right uk-margin-top") #{role.Users.length - 5} más...
                        div(class="uk-overflow-auto uk-margin-top")
                            table(class="uk-table uk-table-small uk-table-divider")
                                thead
                                    tr
                                        th(class="uk-table-spand uk-table-shrink@m") Permisos
                                        th(class="uk-table-shrink") Crear
                                        th(class="uk-table-shrink") Lectura
                                        th(class="uk-table-shrink") Edición
                                        th(class="uk-table-shrink") Eliminar
                                -
                                    var obj = JSON.parse('{ "name":"John", "age":55, "city":"New York"}');
                                #{obj["name"]}
                                tbody
                                    tr
                                        td Usuarios
                                        td(class="uk-text-center")
                                            div() Si
                                        td(class="uk-text-center")
                                            div() Si
                                        td(class="uk-text-center")
                                            div() No
                                        td(class="uk-text-center")
                                            div() Si
                                    tr
                                        td Caja chica
                                        td(class="uk-text-center")
                                            div() No
                                        td(class="uk-text-center")
                                            div() No
                                        td(class="uk-text-center")
                                            div() Si
                                        td(class="uk-text-center")
                                            div() Si
                                    tr
                                        td Cartera de servicios
                                        td(class="uk-text-center")
                                            div() No
                                        td(class="uk-text-center")
                                            div() Si
                                        td(class="uk-text-center")
                                            div() Si
                                        td(class="uk-text-center")
                                            div() No
                                    tr
                                        td Proyectos
                                        td(class="uk-text-center")
                                            div() Si
                                        td(class="uk-text-center")
                                            div() Si
                                        td(class="uk-text-center")
                                            div() Si
                                        td(class="uk-text-center")
                                            div() No
                                    tr
                                        td Directorio de clientes
                                        td(class="uk-text-center")
                                            div() Si
                                        td(class="uk-text-center")
                                            div() Si
                                        td(class="uk-text-center")
                                            div() Si
                                        td(class="uk-text-center")
                                            div() Si
                                    tr
                                        td Prestadores externos
                                        td(class="uk-text-center")
                                            div() No
                                        td(class="uk-text-center")
                                            div() Si
                                        td(class="uk-text-center")
                                            div() Si
                                        td(class="uk-text-center")
                                            div() No

    script.
        $(document).ready(function(){
             var users=!{ JSON.stringify(roles) };
             console.log(users);
        })