extends ../main

block head
    title Deducibles
    link(rel="stylesheet" href="/stylesheets/others.css")

block content
    div(class="uk-container")
        //- titulo y boton de agregar
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
            div(class="titulo_1 uk-text-left   uk-text-large   uk-text-bold uk-text-primary uk-margin-bottom") Deducibles
            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading" href="#modal-agregarRegistro" uk-toggle)
                    img(src="/icons/more.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                    div Agregar deducible
        //- barra de busqueda
        form(class="uk-flex")
            div(class="uk-search uk-search-default uk-width-expand")
                a(href="#" uk-search-icon)
                input(class="uk-search-input" type="search" placeholder="Buscar...")
            //- boton de filtrar
            button(class="uk-button uk-button-primary uk-width-auto" href="#")
                img(src="/icons/filterWhite.png" style="width:20px;height:20px;" class="")
            div(uk-dropdown="mode: click")
                ul(class="uk-list")
                    li() sugerencia 1
                    li() sugerencia 2
                    li() sugerencia 3
        //- contenido
        div(class="uk-flex uk-flex-wrap-reverse uk-width-1-1")
            div(class="uk-card uk-card-default uk-width-1-1 uk-margin-top")
                div(class="uk-card-body uk-text-center")
                    div(class="uk-overflow-auto uk-margin-top")
                        table(class="uk-table uk-table-divider")
                            thead
                                tr
                                    th(class="uk-text-center") ID
                                    th(class="uk-text-center") PROYECTO
                                    th(class="uk-text-center") NOMBRE
                                    th(class="uk-text-center") CONCEPTO
                                    th(class="uk-text-center") MONTO
                                    th(class="uk-text-center") DIRECCIÓN
                                    th(class="uk-text-center") FECHA
                            tbody
                                each deducible in deducibles
                                    tr(class="info" uk-toggle="target: #modal-info" data-id=deducible.id)
                                        td #{egreso.id}
                                        td #{egreso.Project_Employee.Project.name}
                                        td #{egreso.Project_Employee.User.Employee.name}
                                        td #{egreso.Concept.name}
                                        td #{egreso.amount}
                                        if(deducible.T_type == 'egreso')
                                            td Egreso
                                        else
                                            td Ingreso
                                        td #{deducible.date}
        //- informacion completa
        div(id="modal-info" uk-modal)
            div(class="uk-modal-dialog uk-modal-body")
                div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
                    div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Información completa
                    div(tabindex="0")
                        a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading editar" href="/caja/editar-registro" id="btnEdit")
                            img(src="/icons/edit.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                            div Editar
                button(class="uk-modal-close-default" type="button" uk-close='')
                form(class="uk-card-body uk-padding-small")
                    div
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="info-id" name="info-id" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                            label(for='info-id' title='Id' data-title='Id')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="info-proyecto" name="info-proyecto" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                            label(for='info-proyecto' title='Proyecto' data-title='Proyecto')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="info-nombre" name="info-nombre" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                            label(for='info-nombre' title='Nombre Completo' data-title='Nombre Completo')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="info-concepto" name="info-concepto" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                            label(for='info-concepto' title='Concepto' data-title='Concepto')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="info-direccion" name="info-direccion" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                            label(for='info-direccion' title='Dirección' data-title='Dirección')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="info-monto" name="info-monto" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                            label(for='info-monto' title='Monto' data-title='Monto')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="info-tipo-pago" name="info-tipo-pago" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                            label(for='info-tipo-pago' title='Tipo de pago' data-title='Tipo de pago')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="info-descripcion" name="info-descripcion" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                            label(for='info-descripcion' title='Descripción' data-title='Descripción')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="info-fecha" name="info-fecha" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                            label(for='info-fecha' title='Fecha de registro' data-title='Fecha de registro')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="info-deducible" name="info-deducible" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                            label(for='info-deducible' title='Deducible' data-title='Deducible')
        //- paginacion
        div(class="uk-width-1-1")
            ul(class="uk-pagination uk-margin-top")
                li()
                    a(href="#")
                        span(class="uk-margin-small-right" uk-pagination-previous)
                        | Anterior
                li(class="uk-margin-auto-left")
                    a(href="#") Siguiente
                        span(class="uk-margin-small-left" uk-pagination-next)

        script.
            $('.info').on('click', function() {
                    var userID = $(this).data('id');
                    var users=!{ JSON.stringify(deducibles) };
                    console.log(users);
                    for(var key in users){
                        var obj=users[key];
                        if(obj["id"] == userID){
                            console.log(obj);
                            break;
                        }
                    }

                    //se agrega el id al boton de editar
                    $('#btnEdit').data('id',obj["id"]);
                    $('#btnEdit').data('name',obj["name"]);

                    //Aqui se empieza a llenar el modal
                    $('#info-id').val(obj["id"]).change();
                    //$('#info-nombre').val(obj["name"]).change();
                    if(obj["status"]=="active"){
                        $('#info-estatus option[value="activo"]').prop('selected', 'selected').change();
                    }else{
                        $('#info-estatus option[value="inactivo"]').prop('selected', 'selected').change();
                    }
                    $('#info-concepto').val(obj["Concept"]["name"]).change();
                    if(obj["T_type"] == "egreso"){
                        $('#info-direccion').val("Egreso").change();
                    }
                    else{
                        $('#info-direccion').val("Ingreso").change();
                    }
                    $('#info-proyecto').val(obj["Project_Employee"]["Project"]["name"]).change();
                    $('#info-nombre').val(obj["Project_Employee"]["User"]["Employee"]["name"]).change();
                    $('#info-monto').val(obj["amount"]).change();
                    $('#info-tipo-pago').val(obj["Pa_Type"]["name"]).change();
                    $('#info-descripcion').val(obj["description"]).change();
                    $('#info-fecha').val(obj["date"]).change();
                    if(obj["invoice"] == true){
                        $('#info-deducible').val("Si").change();
                    }
                    else{
                        $('#info-deducible').val("No").change();
                    }

                });


    div(id="modal-agregarRegistro" uk-modal class="uk-modal-container")
        div(class="uk-modal-dialog uk-modal-body")
            div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Agregar registro
            div(class="uk-width-1-1@s uk-flex uk-flex-wrap uk-padding-remove uk-margin")
                div(class="uk-width-1-3@m uk-padding-small div-info-nex-caja")
                    .field.uk-margin-bottom
                        select(id="type" name="type" autocomplete='off' value='')
                            option(value="" disabled hidden selected ) Seleccionar
                            option(value="0") Ingreso
                            option(value="1") Engrero
                        label(for='type' title='Tipo de movimiento' data-title='Tipo de movimiento')
                    .field.uk-margin-bottom
                        select(id="concepto" name="concepto" autocomplete='off' value='')
                            option(value="" disabled hidden selected ) Seleccionar
                            option(value="0") Concepto 1
                            option(value="1") Concepto 2
                        label(for='concepto' title='Concepto' data-title='Concepto')
                    .field.uk-margin-bottom
                        select(id="pago" name="pago" autocomplete='off' value='')
                            option(value="" disabled hidden selected ) Seleccionar
                            option(value="0") Efectivo
                            option(value="1") Tarjeta
                        label(for='pago' title='Tipo de pago' data-title='Tipo de pago')
                    .field.uk-margin-bottom
                        select(id="proyecto" name="proyecto" autocomplete='off' value='')
                            option(value="" disabled hidden selected ) Seleccionar
                            option(value="0") Proyecto 1
                            option(value="1") Proyecto 2
                        label(for='proyecto' title='Proyecto' data-title='Proyecto')
                div(class="uk-width-1-3@m uk-padding-small div-info-nex-caja")
                    .field.uk-margin-bottom
                        input(type='date' autocomplete='off'  id="hiring_date" name="hiring_date"  onchange="this.setAttribute('value', this.value);")
                        label(for='hiring_date' title='Fecha de contratación (opcional)' data-title='Fecha de contratación (opcional)')
                    .field.uk-margin-bottom
                        select(id="proveedor" name="proveedor" autocomplete='off' value='')
                            option(value="" disabled hidden selected ) Seleccionar
                            option(value="0") Proveedor 1
                            option(value="1") Proveedor 2
                        label(for='proveedor' title='Proveedor (Opcional)' data-title='Proveedor')
                    .uk-margin-bottom
                        <div class="uk-grid-small uk-child-width-auto uk-flex uk-flex-middle uk-flex-wrap uk-grid"">
                            <label class="uk-flex uk-flex-middle uk-text-small"><input class="uk-radio uk-margin-remove" style="margin-right:5px !important" type="radio" name="radio2" checked> Deducible</label>
                            <label class="uk-flex uk-flex-middle uk-text-small"><input class="uk-radio uk-margin-remove" style="margin-right:5px !important" type="radio" name="radio2"> No deducible</label>
                        </div>
                    a(class="uk-flex uk-flex-left uk-flex-middle uk-text-small uk-margin-small-bottom" style="width:max-content" href="#modal-agregarConcepto" uk-toggle)
                        <span uk-icon="icon: plus-circle; ratio: 0.8" style="margin-right:5px"></span>Nuevo concepto
                    a(class="uk-flex uk-flex-left uk-flex-middle uk-text-small uk-margin-small-bottom" style="width:max-content" href="#modal-agregarPago" uk-toggle)
                        <span uk-icon="icon: plus-circle; ratio: 0.8" style="margin-right:5px"></span>Nuevo tipo de pago
                div(class="uk-width-1-3@m uk-padding-small div-info-nex-caja")
                    .field.uk-margin-bottom
                        input(type='number' autocomplete='on' id="monto" name="monto"  step="100.00" min="0" value='' onchange="this.setAttribute('value', this.value);" required='')
                        label(for='monto' title='Monto total' data-title='Monto total')
                    textarea(class="uk-textarea field uk-margin-bottom uk-text-emphasis textarea-caja" style="font-size:14px; border-radius:3px;" placeholder="Descripción (Opcional)" autocomplete='on' id="descripcion" name="descripcion" value='' onchange="this.setAttribute('value', this.value);" required='')
            div(class="uk-width-1 uk-flex-right uk-flex")
                button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" id="btn-close-modal" type="button" ) Cancelar
                button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="btnEnviar" type="submit") Agregar