extends ../main

block head
    title ConsultarQ - Tipos de Pago
    link(rel="stylesheet" href="/stylesheets/others.css")
    link(rel="stylesheet" href="/stylesheets/oProyectMenu.css")

block content
    div(class="uk-container")
        //- titulo y boton de agregar
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
            div(class="titulo_1 uk-text-left   uk-text-large   uk-text-bold uk-text-primary uk-margin-bottom") Tipos de Pago
            div(class="uk-flex uk-flex-between uk-flex-wrap uk-width-1-2@m uk-width-1 uk-margin-small-bottom uk-text-small o-proyect-menu-hide")
                a(href="/caja" class="uk-padding-small uk-padding-remove-vertical" style="color: #6B6B72; text-decoration:none;") VER CAJA
                a(href="/conceptos" class="uk-padding-small uk-padding-remove-vertical" style="color: #6B6B72; text-decoration:none;") CONCEPTOS
                a(href="/tipos_de_pago" class="uk-padding-small uk-padding-remove-vertical" style="color: #6B6B72; text-decoration:none; border-bottom: 2px solid #3B86D9; padding-bottom:7px;") TIPOS DE PAGO
            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading" href="#modal-agregar" uk-toggle)
                    img(src="/icons/more.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                    div Agregar tipo de pago
        //- barra de busqueda
        form(class="uk-flex uk-margin-bottom")
            div(class="uk-search uk-search-default uk-width-expand")
                span(uk-search-icon type="button")
                input(class="uk-search-input" type="search" id="buscador" placeholder="Buscar..."  onkeyup="myFunction()")
                input(class="uk-search-input" type="hidden" name="filter" id="filter" value="name" placeholder="Buscar...")
            //- boton de filtrar
        div(class="o-proyect-menu-show uk-width-1")
                a(href="/caja" class="" ) VER CAJA
                a(href="/conceptos" class="") CONCEPTOS
                a(href="/tipos_de_pago" class="o-menu-selected") TIPOS PAGO
                div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
        //- contenido
        div(class="uk-flex uk-flex-wrap-reverse uk-width-1-1")
            div(class="uk-card uk-card-default uk-width-1-1 uk-margin-top")
                div(class="uk-card-body uk-text-center")
                    div(class="uk-overflow-auto uk-margin-top")
                        table(class="uk-table uk-table-divider" id="items")
                            thead
                                tr
                                    th(class="uk-text-center") ID
                                    th(class="uk-text-center") NOMBRE
                                    th(class="uk-text-center") DESCRIPCIÓN
                            tbody
                                each tipo in tipos
                                    tr(class="info item" uk-toggle="target: #modal-info" data-id=tipo.id id="item")
                                        td(class="id") #{tipo.id}
                                        td(class="name") #{tipo.name}
                                        td(class="description") #{tipo.description}
        //- informacion completa
        div(id="modal-info" uk-modal)
            div(class="uk-modal-dialog uk-modal-body")
                div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
                    div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Información completa
                    div(tabindex="0")
                        a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading editar" uk-toggle="target: #modal-editar" id="btnEdit")
                            img(src="/icons/edit.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                            div Editar
                button(class="uk-modal-close-default" type="button" uk-close='')
                form(class="uk-card-body uk-padding-small")
                    div
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="info-id" name="info-id" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                            label(for='info-id' title='Id' data-title='Id')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="info-nombre" name="info-nombre" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                            label(for='info-nombre' title='Nombre' data-title='Nombre')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="info-descripcion" name="info-descripcion" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                            label(for='info-descripcion' title='Descripción' data-title='Descripción')
        //- modal para editar
        div(id="modal-editar" uk-modal)
            div(class="uk-modal-dialog uk-modal-body")
                div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
                    div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Editar concepto
                    div(tabindex="0")
                        a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-danger uk-link-heading eliminar" uk-toggle="target: #modal-eliminar" id="btnDel")
                            img(src="/icons/delete.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                            div Eliminar
                button(class="uk-modal-close-default" type="button" uk-close='')
                div(id="errors-edit")
                form(class="uk-card-body uk-padding-small" id="form-edit-patype" action="/tipos_de_pago/update" method="POST")
                    div
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="editId" name="editId" value='' onchange="this.setAttribute('value', this.value);" required='' disabled)
                            label(for='editId' title='Id' data-title='Id')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="editNombre" name="editNombre" value='' onchange="this.setAttribute('value', this.value);" required='')
                            label(for='editNombre' title='Nombre' data-title='Nombre')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="editDescripcion" name="editDescripcion" value='' onchange="this.setAttribute('value', this.value);" required='')
                            label(for='editDescripcion' title='Descripción' data-title='Descripción')
                        div(class="uk-width-1 uk-flex-right uk-flex")
                            button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                            button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="btnEditar" type="submit") Guardar
        //- modal para eliminar
        div(id="modal-eliminar" uk-modal)
            div(class="uk-modal-dialog uk-modal-body")
                div(class="uk-text-left  uk-text-large uk-text-bold uk-text-danger") Eliminar Tipo de Pago
                button(type='button' uk-close='' class="uk-modal-close-default")
                div(id="errors-delete")
                div(class="uk-text-left" id="text-delete") ¿Estás seguro de que deseas eliminar el tipo de pago?
                form(class="uk-card-body uk-padding-small" id="form-delete-patype" action="/tipos_de_pago/delete"  method="POST")
                    div(class="uk-width-1 uk-flex-right uk-flex uk-flex-middle")
                        a(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize" href="#modal-editar" uk-toggle data-id="" data-name="") Cancelar
                        button(class="uk-button uk-button-danger uk-border-rounded uk-text-capitalize" id="btnEliminar" type="submit") Eliminar
        //- modal para agregar
        div(id="modal-agregar" uk-modal)
            div(class="uk-modal-dialog uk-modal-body")
                div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
                    div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Agregar tipo de pago
                button(class="uk-modal-close-default" type="button" uk-close='')
                div(id="errors")
                form(class="uk-card-body uk-padding-small" id="form-new-patype" action="/tipos_de_pago/nuevo" method="POST" enctype="multipart/form-data")
                    div
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="addNombre" name="addNombre" value='' onchange="this.setAttribute('value', this.value);" required='')
                            label(for='addNombre' title='Nombre' data-title='Nombre')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='on' id="addDescripcion" name="addDescripcion" value='' onchange="this.setAttribute('value', this.value);" required='')
                            label(for='addDescripcion' title='Descripción' data-title='Descripción')
                        div(class="uk-width-1 uk-flex-right uk-flex")
                            button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                            button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="btnAgregar" type="submit") Guardar
        //- paginacion
        div(class="uk-width-1-1")
            ul.uk-pagination.uk-flex-center(uk-margin='' id="pagination")

        script.
            function myFunction() {
                var input, filter, cards, cardContainer, h5, title, i;
                input = document.getElementById("buscador");
                filter = input.value.toUpperCase();
                cardContainer = document.getElementById("items");
                cards = cardContainer.getElementsByClassName("item");
                document.getElementById("pagination").style.display = "none";
                for (i = 0; i < cards.length; i++) {
                    name = cards[i].querySelector('td[class~="name"]').innerText.toUpperCase().indexOf(filter);
                    id = cards[i].querySelector('td[class~="id"]').innerText.toUpperCase().indexOf(filter);
                    description = cards[i].querySelector('td[class~="description"]').innerText.toUpperCase().indexOf(filter);
                    if (name > -1 || id > -1 || description > -1) {
                        cards[i].style.display = "table-row"
                        } else {
                            cards[i].style.display = "none"
                    }
                }
            }

        script.
            $(document).ready(function () {
                const $studentItem = $('.item');
                const $paginationList = $('.uk-pagination');
                const $studentSearch = $('#buscador');
                const itemTotal = 20;

                // hide all
                function hideAll() {
                    $studentItem.hide();
                }

                hideAll();

                // display first 10
                function displayRange(a,b) {
                    hideAll();
                    // display 0 - 1 students
                    $studentItem.slice(a,b).fadeIn();
                }

                displayRange(0, itemTotal);

                // create pagination links
                let pagination = '';
                for(var i = 1; i < $studentItem.length / itemTotal +  1; i ++) {
                    pagination += `
                        <li><a class="pagination__num">${i}</a></li>
                    `;
                }
                $paginationList.append(pagination);
                // click on pagination num
                // pass into display range
                // calc and show range
                $('body').on('click', '.pagination__num', function () {

                    hideAll();

                    // get text number 1 - 5
                    // get ranges for start and end
                    let paginationText = Number($(this).text()) - 1;
                    let startFrom = paginationText * itemTotal;
                    let end = paginationText * itemTotal + paginationText + itemTotal;
                    // console.log('start: ' + startFrom + '   end: ' + end)
                    // display ranges
                    displayRange(startFrom, end);

                });

                $studentSearch.keyup(function()
                {
                    if (!this.value) {
                    hideAll();
                    $paginationList.show();
                    displayRange(0, itemTotal);
                    }
                });
            });

        script.
            $('.info').on('click', function() {
                var userID = $(this).data('id');
                var users=!{ JSON.stringify(tipos) };
                for(var key in users){
                    var obj=users[key];
                    if(obj["id"] == userID){
                        break;
                    }
                }

                //se agrega el id al boton de editar
                $('#btnEdit').data('id',obj["id"]);
                $('#btnEdit').data('name',obj["name"]);

                //Aqui se empieza a llenar el modal
                $('#info-id').val(obj["id"]).change();
                $('#info-nombre').val(obj["name"]).change();
                $('#info-descripcion').val(obj["description"]).change();

            });

            //esto de abajo es para al momento de abrir el modal de editar cargar los datos
            $('.editar').on('click', function() {
                var userID = $(this).data('id');
                var users=!{ JSON.stringify(tipos) };
                for(var key in users){
                    var obj=users[key];
                    if(obj["id"] == userID){
                        break;
                    }
                }

                //se agrega el id a la ruta del action
                $('#form-edit-patype').attr('action', '/tipos_de_pago/update/'+obj["id"]);
                //se agrega el id al boton de eliminar
                $('#btnDel').data('id',obj["id"]);
                $('#btnDel').data('name',obj["name"]);

                //Aqui se empieza a llenar el modal
                $('#editId').val(obj["id"]).change();
                $('#editNombre').val(obj["name"]).change();
                $('#editDescripcion').val(obj["description"]).change();
            });

            //esto de abajo es para al momento de abrir el modal de eliminar
            $('#btnDel').on('click', function() {
                var patypeID = $(this).data('id');
                var name = $(this).data('name');

                $('#text-delete').text('¿Estás seguro de que deseas eliminar el tipo de pago '+ name +'?');
                //esto es para poner el id en el action del form
                $('#form-delete-patype').attr('action', '/tipos_de_pago/delete/'+ patypeID);
            });

            $(document).ready(function () {
                //  ajax del form de nuevo
                $("#form-new-patype").bind("submit", function() {
                    // Capturamnos el boton de envío
                    var btnAgregar = $("#btnAgregar");

                    $.ajax({
                        type: $(this).attr("method"),
                        url: $(this).attr("action"),
                        data: $(this).serialize(),
                        beforeSend: function(data){
                            /*
                            * Esta función se ejecuta durante el envió de la petición al
                            * servidor.
                            * */
                            // btnEnviar.text("Enviando"); Para button
                            btnAgregar.val("Enviando"); // Para input de tipo button
                            btnAgregar.attr("disabled","disabled");
                        },
                        complete: function(data){
                            /*
                            * Se ejecuta al termino de la petición
                            * */
                            btnAgregar.val("Enviar formulario");
                        },
                        success: function(data){
                            /*
                            * Se ejecuta cuando termina la petición y esta ha sido
                            * correcta
                            * */
                            $('#errors').css('display', 'none');
                            UIkit.notification({
                                message: '<span uk-icon=\'icon: check\'></span>Tipo de pago registrado con éxito!',
                                status: 'success',
                                pos: 'top-center',
                                timeout: 2000
                            });
                            setTimeout(
                            function()
                            {
                                window.location.href = window.location.origin + '/tipos_de_pago'
                            }, 2000);
                        },
                        error: function(data){
                            /*
                            * Se ejecuta si la peticón ha sido erronea
                            * */
                            btnAgregar.removeAttr("disabled");
                            $('#errors').css('display', 'block');
                            var errors = JSON.parse(data.responseText);
                            var errorsContainer = $('#errors');
                            errorsContainer.innerHTML = '';
                            var errorsList = '';
                            for (var i = 0; i < errors.length; i++) {
                                //if(errors[i].redirect)
                                    //window.location.href = window.location.origin + '/logout'
                                errorsList += '<div class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>'+ errors[i].msg +'</p></div>';
                            }
                            errorsContainer.html(errorsList);

                            alert("Problemas al tratar de enviar el formulario");
                        }
                    });
                    // Nos permite cancelar el envio del formulario
                    return false;
                });

                //ajax del form de editar
                $("#form-edit-patype").bind("submit",function(){
                    // Capturamnos el boton de envío
                    var btnEditar = $("#btnEditar");

                    $.ajax({
                        type: $(this).attr("method"),
                        url: $(this).attr("action"),
                        data: $(this).serialize(),
                        beforeSend: function(data){
                            /*
                            * Esta función se ejecuta durante el envió de la petición al
                            * servidor.
                            * */
                            // btnEditar.text("Enviando"); Para button
                            btnEditar.val("Enviando"); // Para input de tipo button
                            btnEditar.attr("disabled","disabled");
                        },
                        complete:function(data){
                            /*
                            * Se ejecuta al termino de la petición
                            * */
                            btnEditar.val("Enviar formulario");
                        },
                        success: function(data){
                            /*
                            * Se ejecuta cuando termina la petición y esta ha sido
                            * correcta
                            * */
                            $('#errors').css('display', 'none');
                            UIkit.notification({
                                message: '<span uk-icon=\'icon: check\'></span>Tipo de pago editado con éxito!',
                                status: 'success',
                                pos: 'top-center',
                                timeout: 2000
                            });
                            setTimeout(
                            function()
                            {
                                window.location.href = window.location.origin + '/tipos_de_pago'
                            }, 2000);
                        },
                        error: function(data){
                            /*
                            * Se ejecuta si la peticón ha sido erronea
                            * */
                            btnEditar.removeAttr("disabled");
                            $('#errors-edit').css('display', 'block');
                            console.log(data)
                            var errors = JSON.parse(data.responseText);
                            var errorsContainer = $('#errors-edit');
                            errorsContainer.innerHTML = '';
                            var errorsList = '';
                            for (var i = 0; i < errors.length; i++) {
                                //if(errors[i].redirect)
                                    //window.location.href = window.location.origin + '/logout'
                                errorsList += '<div class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>'+ errors[i].msg +'</p></div>';
                            }
                            errorsContainer.html(errorsList);

                            alert("Problemas al tratar de enviar el formulario");
                        }
                    });
                    // Nos permite cancelar el envio del formulario
                    return false;
                });

                //ajax del form de eliminar
                $("#form-delete-patype").bind("submit",function(){
                    // Capturamnos el boton de envío
                    var btnEliminar = $("#btnEliminar");

                    $.ajax({
                        type: $(this).attr("method"),
                        url: $(this).attr("action"),
                        data: $(this).serialize(),
                        beforeSend: function(data){
                            /*
                            * Esta función se ejecuta durante el envió de la petición al
                            * servidor.
                            * */
                            // btnEnviar.text("Enviando"); Para button
                            btnEliminar.val("Enviando"); // Para input de tipo button
                            btnEliminar.attr("disabled","disabled");
                        },
                        complete:function(data){
                            /*
                            * Se ejecuta al termino de la petición
                            * */
                            btnEliminar.val("Enviar formulario");
                        },
                        success: function(data){
                            /*
                            * Se ejecuta cuando termina la petición y esta ha sido
                            * correcta
                            * */
                            $('#errors-delete').css('display', 'none');
                            UIkit.notification({
                                message: '<span uk-icon=\'icon: check\'></span>Tipo de pago eliminado con éxito!',
                                status: 'success',
                                pos: 'top-center',
                                timeout: 2000
                            });
                            setTimeout(
                            function()
                            {
                                window.location.href = window.location.origin + '/tipos_de_pago'
                            }, 2000);
                        },
                        error: function(data){
                            /*
                            * Se ejecuta si la peticón ha sido erronea
                            * */
                            btnEliminar.removeAttr("disabled");
                            $('#errors-delete').css('display', 'block');
                            var errors = JSON.parse(data.responseText);
                            var errorsContainer = $('#errors-delete');
                            errorsContainer.innerHTML = '';
                            var errorsList = '';
                            for (var i = 0; i < errors.length; i++) {
                                //if(errors[i].redirect)
                                    //window.location.href = window.location.origin + '/logout'
                                errorsList += '<div class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>'+ errors[i].msg +'</p></div>';
                            }
                            errorsContainer.html(errorsList);

                            alert("Problemas al tratar de enviar el formulario");
                        }
                    });
                    // Nos permite cancelar el envio del formulario
                    return false;
                });

            });