extends ../main

block head
    title ConsultarQ - Directorio de Clientes
    link(rel="stylesheet" href="/stylesheets/others.css")
    link(rel="stylesheet" href="/stylesheets/oProgressBar.css")
    link(rel="stylesheet" href="/stylesheets/oProyectMenu.css")

block content
    div(class="uk-container")
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
            div(class="uk-text-left uk-text-large uk-text-bold uk-text-primary uk-margin-bottom") Directorio de clientes
            div(class="uk-flex uk-flex-between uk-flex-wrap uk-width-1-3@m uk-width-1 uk-margin-small-bottom uk-text-small o-proyect-menu-hide")
                a(href="/clientes" class="uk-padding-small uk-padding-remove-vertical" style="color: #6B6B72; text-decoration:none; border-bottom: 2px solid #3B86D9; padding-bottom:7px;") CLIENTES
                a(href="/clientes/areas" class="uk-padding-small uk-padding-remove-vertical" style="color: #6B6B72; text-decoration:none;") ÁREAS
            div(class="uk-margin-bottom" tabindex="0")
                a(href="#modal-agregarCliente" uk-toggle class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading uk-animation-shake uk-animation-fast")
                    img(src="/img/iconos/more.png" style="width:20px;height:20px;margin-top:3px;" class="uk-margin-small-right")
                    div Agregar cliente 
        -function prettyDate(dateString){
                //if it's already a date object and not a string you don't need this line:
                -var date = new Date(dateString);
                -var d = date.getDate();
                -var monthNames = [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio","Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ];
                -var m = monthNames[date.getMonth()];
                -var y = date.getFullYear();
                -return d+' '+m+' '+y;
        -}
        form(class="uk-flex uk-margin-bottom")
            div(class="uk-search uk-search-default uk-width-expand")
                span(uk-search-icon type="button")
                input(class="uk-search-input" type="search" id="buscador" placeholder="Buscar..."  onkeyup="myFunction()")
                label(for="buscador" class="tag-filter" id="tag-filter") Nombre
                input(class="uk-search-input" type="hidden" name="filter" id="filter" value="name" placeholder="Buscar...")
            //- boton de filtrar
            button(class="uk-button uk-button-primary uk-width-auto" href="#" type="button")
                img(src="/icons/filterWhite.png" style="width:20px;height:20px;" class="")
            div(uk-dropdown="mode: click")
                ul(class="uk-list")
                    li(onclick="putSearch('name')" class="uk-dropdown-close" style="cursor:pointer") Nombre
                    li(onclick="putSearch('email')" class="uk-dropdown-close" style="cursor:pointer") Correo electrónico
                    li(onclick="putSearch('phone')" class="uk-dropdown-close" style="cursor:pointer") Número de teléfono
        -function prettyDate(dateString){
                //if it's already a date object and not a string you don't need this line:
                -var date = new Date(dateString);
                -var d = date.getDate();
                -var monthNames = [ "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio","Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre" ];
                -var m = monthNames[date.getMonth()];
                -var y = date.getFullYear();
                -return d+' '+m+' '+y;
        -}

        div(class="o-proyect-menu-show uk-width-1")
            a(href="/clientes" class="o-menu-selected") CLIENTES
            a(href="/clientes/areas" class="") ÁREAS

        //- contenido
        div(class="uk-child-width-1-2@m uk-grid-match uk-margin-top" uk-grid)
            each client in clientes
                div
                    div.uk-card.uk-card-default.uk-card-body.uk-padding-remove
                        div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-padding-small
                            div(class="uk-width-auto@m")
                                a(href="/clientes/cliente/"+client.id)
                                    if client.picture
                                        img(src="/uploads/clients/"+client.picture style="width:70px; height:70px; border-radius:50px; margin-right:15px;object-fit:cover")
                                    else
                                        img(src="/img/iconos/default.png" style="width:70px; height:70px; border-radius:50px; margin-right:15px;object-fit:cover")
                            div(class="uk-width-expand@m")
                                div.uk-flex.uk-width-1-1.uk-flex-wrap-reverse
                                    div(class="uk-width-auto@l" style="color:#222238; font-size:16px; font-weight:400") 
                                        a.uk-link-reset(href="/clientes/cliente/"+client.id) #{client.name}
                                    div(class="uk-width-expand@l uk-text-right")
                                        //- if pU
                                        a.uk-flex-inline.uk-flex-middle.editar(style="text-decoration:none; color:#1e87f0 !important" uk-toggle="target: #modal-editarCliente" data-id=client.id)
                                            img(src="/icons/edit.png" style="width:10px;height:10px" class="uk-margin-small-right")
                                            div(class="uk-text-small") Editar
                                div.uk-width-1-1.uk-flex.uk-flex-middle(uk-tooltip="title: Teléfono; pos: left")
                                    <span uk-icon="icon:receiver; ratio: 0.8" style="margin-right:5px"></span>#{client.phone_number}
                                div.uk-width-1-1.uk-flex.uk-flex-middle(style="word-break: break-all" uk-tooltip="title: Correo electrónico; pos: left")
                                    <span uk-icon="icon:mail; ratio: 0.8" style="margin-right:5px"></span>#{client.email}
                                div.uk-width-1-1.uk-flex.uk-flex-middle(uk-tooltip="title: Fecha de registro; pos: left")
                                    <span uk-icon="icon:calendar; ratio: 0.8" style="margin-right:5px"></span>#{prettyDate(client.createdAt)}
                                div.uk-width-1-1.uk-flex.uk-flex-middle(uk-tooltip="title: Área; pos: left")
                                    <span uk-icon="icon:thumbnails; ratio: 0.8" style="margin-right:5px"></span>#{client.Client_Area.name}
                                div.uk-width-1-1.uk-flex.uk-flex-middle(uk-tooltip="title: Estatus; pos: left")
                                    if client.status === "active"
                                        div(class="uk-width-4-5@m btn-status-active") ACTIVO
                                    else 
                                        div(class="uk-width-4-5@m btn-status-active btn-status-noactive") INACTIVO
                            //- cotizacion
                            if client.Projects.length > 0
                                each project in client.Projects
                                    if project.Quotations.length > 0
                                        each quotation in project.Quotations
                                            div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-margin-small-top.uk-flex-middle
                                                div(class="uk-width-1-5@m") Cotización
                                                div(class="uk-width-4-5@m uk-text-emphasis" style="font-size:14px") 
                                                    a.uk-link-reset(target="_blank" href="/uploads/docs/"+quotation.quotation) #{quotation.quotation}.PDF<span uk-icon="icon:file-pdf; ratio: 0.6" style="margin-left:3px"></span>                       
                                    else
                                        div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-margin-small-top.uk-flex-middle
                                            div(class="uk-width-1-5@m") Cotización
                                            div(class="uk-width-4-5@m uk-text-emphasis" style="font-size:14px")
                                                | No hay cotizaciones registrados.
                            else
                                div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-margin-small-top.uk-flex-middle
                                        div(class="uk-width-1-5@m") Cotización
                                        div(class="uk-width-4-5@m uk-text-emphasis" style="font-size:14px")
                                            | No hay cotizaciones registrados.
                            //- proyecto
                            if client.Projects.length > 0
                                each project in client.Projects
                                    if project.contract
                                        div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-margin-small-top.uk-flex-middle
                                            div(class="uk-width-1-5@m") Contratos
                                            div(class="uk-width-4-5@m uk-text-emphasis" style="font-size:14px")
                                                a.uk-link-reset(target="_blank" href="/uploads/docs/"+project.contract) #{project.contract}.PDF<span uk-icon="icon:file-pdf; ratio: 0.6" style="margin-left:3px"></span>
                                    else
                                        div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-margin-small-top.uk-flex-middle
                                            div(class="uk-width-1-5@m") Contratos
                                            div(class="uk-width-4-5@m uk-text-emphasis" style="font-size:14px")
                                                | No hay contratos registrados.
                            else
                                div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-margin-small-top.uk-flex-middle
                                    div(class="uk-width-1-5@m") Contratos
                                    div(class="uk-width-4-5@m uk-text-emphasis" style="font-size:14px")
                                        | No hay contratos registrados.
                        if client.Projects.length > 0
                            each project in client.Projects
                                div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-padding-small.uk-flex-middle(style="border-top: solid 1px #C7C7C7") 
                                    div.uk-width-1-1.uk-flex-inline.uk-flex-wrap
                                        div(class="uk-width-1-5@m uk-text-truncate") Proyecto
                                        div(class="uk-width-4-5@m uk-text-emphasis") 
                                            a.uk-link-reset(href="/proyectos/proyecto/"+project.id) #{project.name}
                                            //- script barra de porcentaje
                                            -
                                                var tareasListas = 0
                                                var tareasFaltantes = 0
                                                var tareasTotales = 0
                                                var porcentaje = 100
                                            if project.Tasks
                                                each task in project.Tasks
                                                    -
                                                        tareasTotales++
                                                        if(task.check)
                                                            tareasListas++
                                                        else
                                                            tareasFaltantes++
                                                if tareasTotales > 0
                                                    -
                                                        porcentaje = parseInt((tareasListas/tareasTotales)*100)
                                            div.uk-width-1-1
                                                progress(id="js-progressbar" class="uk-progress uk-margin-remove" value=porcentaje max="100")
                                            div.uk-width-1-1.uk-text-right.uk-text-emphasis(style="font-size:14px") Progreso #{porcentaje}%
                                    div(class="uk-width-1-5@m") Estatus
                                    if project.status === "ACTIVO" || project.status === "TERMINADO"
                                        div(class="uk-width-4-5@m btn-status-active") #{project.status}
                                    else 
                                        div(class="uk-width-4-5@m btn-status-active btn-status-noactive") #{project.status}
                        else
                            k-width-1-1.uk-flex.uk-flex-wrap.uk-padding-small.uk-flex-middle(style="border-top: solid 1px #C7C7C7") 
                                div.uk-width-1-1.uk-flex-inline.uk-flex-wrap
                                    div(class="uk-width-1-1@m ") No hay proyectos registrados
                        //-else 
                            k-width-1-1.uk-flex.uk-flex-wrap.uk-padding-small.uk-flex-middle(style="border-top: solid 1px #C7C7C7") 
                                    div.uk-width-1-1.uk-flex-inline.uk-flex-wrap
                                        div(class="uk-width-1-1@m ") No hay contratos registrados
                                        
    
    //- modal editar cliente
    div(id="modal-editarCliente" uk-modal)
        div(class="uk-modal-dialog uk-modal-body")
            div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Editar cliente
            button(type='button' uk-close='' class="uk-modal-close-default")
            div(id="errors-edit")
            div.width-1-1
                form(class="uk-card-body uk-padding-small uk-padding-remove" id="form-edit-client" action=""  method="POST" enctype="multipart/form-data")
                    div(class="uk-text-left uk-text-primary uk-margin-remove") FOTO DE PERFIL
                        div(class="form-group uk-border-circle")
                            img(src="/img/iconos/default.png" alt=""  id="avatar-edit" class="uk-border-circle uk-margin-auto uk-flex" style="width:100px;height:100px; background-size:cover; object-fit:cover;")
                            a(id="foto-edit" class="uk-flex uk-flex-center uk-flex-middle uk-margin-auto uk-width-1 uk-flex-wrap" style="width:max-content; font-size:13px")
                                <span uk-icon="icon: pencil; ratio: 0.8" style="margin-right:5px"></span>Editar foto
                            input(name="fileField_edit" type="file" id="fileField_edit" style="visibility:hidden;height:2px;width:30px")
                    div(class="uk-text-left uk-text-primary uk-margin-small-bottom") DATOS GENERALES
                    div.uk-grid
                        div(class="uk-width-1-2@s uk-width-1-1")
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="name_edit" name="name_edit" value='' onchange="this.setAttribute('value', this.value);" required='')
                                label(for='name_edit' title='Nombre o razón social' data-title='Nombre o razón social')
                        div(class="uk-width-1-2@s uk-width-1-1")
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="phone_edit" name="phone_edit" value='' onchange="this.setAttribute('value', this.value);" required='')
                                label(for='phone_edit' title='Número telefónico' data-title='Número telefónico')
                        div(class="uk-width-1-2@s uk-width-1-1")
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="email_edit" name="email_edit" value='' onchange="this.setAttribute('value', this.value);" required='')
                                label(for='email_edit' title='Correo electrónico' data-title='Correo electrónico')
                        div(class="uk-width-1-2@s uk-width-1-1")
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="rfc_edit" name="rfc_edit" value='' onchange="this.setAttribute('value', this.value);" required='')
                                label(for='rfc_edit' title='RFC' data-title='RFC')
                   
                        div(class="uk-width-1-2@s uk-width-1-1")
                            .field.uk-margin-bottom
                                select(id="area_edit" name="area_edit" autocomplete='off' value='' required)
                                    each area in areas
                                        option(value=area.id) #{area.name}
                                label(for='area_edit' title='Área' data-title='Área')
                        div(class="uk-width-1-2@s uk-width-1-1")
                            .field.uk-margin-bottom
                                select(id="status_edit" name="status_edit" autocomplete='off' value='' required)
                                    option(value="active") Activo
                                    option(value="inactive") Inactivo
                                label(for='status_edit' title='Estatus' data-title='Estatus')
                    div(class="uk-alert-danger uk-margin-remove" uk-alert style="display:none" id="status-alert")
                        p(class="uk-text-small") Si el estatus del cliente es inactivo, no podrá ser asignado a nuevos proyectos.
                    a(class="uk-flex uk-flex-middle uk-text-danger uk-link-heading uk-margin-small-top uk-text-small" id="btnEliminar" href="#delete-form" uk-toggle style="width:max-content")
                        <span uk-icon="icon: trash; ratio: 0.8" style="margin-right:5px"></span>Eliminar
                    div(class="uk-width-1 uk-flex-right uk-flex")
                        button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                        button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="btnGuardar" type="submit") Guardar


    //- modal agregar cliente
    div(id="modal-agregarCliente" uk-modal)
        div(class="uk-modal-dialog uk-modal-body")
            div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Agregar cliente
            button(type='button' uk-close='' class="uk-modal-close-default")
            div(id="errors")
            div.width-1-1
                form(class="uk-card-body uk-padding-remove uk-padding-remove-bottom" id="form-new-client" action="/clientes/nuevo"  method="POST" enctype="multipart/form-data")
                    div(class="uk-text-left uk-margin-remove uk-text-primary") FOTO DE PERFIL
                        div(class="form-group uk-border-circle")
                            img(src="/img/iconos/default.png" alt=""  id="avatar" class="uk-border-circle uk-margin-auto uk-flex" style="width:100px;height:100px; background-size:cover; object-fit:cover;")
                            a(id="foto-add" class="uk-flex uk-flex-center uk-flex-middle uk-margin-auto uk-width-1 uk-flex-wrap" style="width:max-content; font-size:13px")
                                <span uk-icon="icon: pencil; ratio: 0.8" style="margin-right:5px"></span>Agregar foto
                            input(name="fileField_add" type="file" id="fileField_add" style="visibility:hidden;height:2px;width:30px")
                    div(class="uk-text-left uk-text-primary uk-margin-small-bottom") DATOS GENERALES
                    div.uk-grid
                        div(class="uk-width-1-2@s uk-width-1-1")
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="name" name="name" value='' onchange="this.setAttribute('value', this.value);" required='')
                                label(for='name' title='Nombre o razón social' data-title='Nombre Completo')
                        div(class="uk-width-1-2@s uk-width-1-1")
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="phone_number" name="phone_number" value='' onchange="this.setAttribute('value', this.value);" required='')
                                label(for='phone_number' title='Número telefónico' data-title='Número telefónico')
                        div(class="uk-width-1-2@s uk-width-1-1")
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="email" name="email" value='' onchange="this.setAttribute('value', this.value);" required='')
                                label(for='email' title='Correo electrónico' data-title='Correo electrónico')
                        div(class="uk-width-1-2@s uk-width-1-1")
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='on' id="rfc" name="rfc" value='' onchange="this.setAttribute('value', this.value);" required='')
                                label(for='rfc' title='RFC' data-title='RFC')
                    
                        div(class="uk-width-1-2@s uk-width-1-1")
                            .field.uk-margin-bottom
                                select(id="area" name="area" autocomplete='off' value='' required)
                                    option(value="" disabled hidden selected ) Seleccionar
                                        each area in areas
                                            option(value=area.id) #{area.name}
                                label(for='area' title='Área' data-title='Área')
                        div(class="uk-width-1-2@s uk-width-1-1")
                            .field.uk-margin-bottom
                                select(id="status_new" name="status_new" autocomplete='off' value='' required)
                                    option(value="active") Activo
                                    option(value="inactive") Inactivo
                                label(for='status_new' title='Estatus' data-title='Estatus')
                    div(class="uk-alert-danger uk-margin-remove" uk-alert style="display:none" id="status-alert-new")
                        p(class="uk-text-small") Si el estatus del cliente es inactivo, no podrá ser asignado a nuevos proyectos.
                    div(class="uk-width-1 uk-flex-right uk-flex")
                        button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                        button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="btnEnviar" type="submit") Agregar
    
    
    
    //- modal eliminar cliente
    div(id="delete-form" uk-modal)
            div(class="uk-modal-dialog uk-modal-body")
                div(class="uk-text-left  uk-text-large uk-text-bold uk-text-danger") Eliminar usuario
                button(type='button' uk-close='' class="uk-modal-close-default")
                div(id="errors-delete")
                div(class="uk-text-left" id="text-delete") ¿Estás seguro de que deseas eliminar al cliente Dragonware?
                form(class="uk-card-body uk-padding-small" id="form-delete-client" action=""  method="POST")
                    div(class="uk-width-1 uk-flex-right uk-flex uk-flex-middle")
                        a(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize" href="#modal-editarCliente" uk-toggle data-id="" data-name="") Cancelar
                        button(class="uk-button uk-button-danger uk-border-rounded uk-text-capitalize" type="submit") Eliminar
    
    script.
        $(document).ready(function(){
            var clientes=!{ JSON.stringify(clientes) };
            console.log(clientes);
        })

        jQuery(($) => {
            //esto es para la foto de perfil
            $('#foto-add').on('click', function() {
                $("#fileField_add").click();
            });

            $('#foto-edit').on('click', function() {
                $("#fileField_edit").click();
            });

            function readURL(input) {
                $('#avatar').attr('src', "/img/iconos/default.png");
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                    $('#avatar').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]); // convert to base64 string
                }
            }

            $("#fileField_add").change(function() {
                readURL(this);
            });

            //el de abajo es igual pero para el avatar a la hora de editar
            function readURLEdit(input) {
                $('#avatar-edit').attr('src', "/img/iconos/default.png");
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function(e) {
                    $('#avatar-edit').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]); // convert to base64 string
                }
            }

            $("#fileField_edit").change(function() {
                readURLEdit(this);
            });
        });


        jQuery(($) => {
            $('#status').on('change', function(){
                if( $('#status').val() == 'active'){
                    $('#status-alert').hide();
                }
                else{
                    $('#status-alert').show();
                }
            });

            //- $('#status_new').on('change', function(){
            //-     if( $('#status_new').val() == 'active'){
            //-         $('#status-alert-new').hide();
            //-     }
            //-     else{
            //-         $('#status-alert-new').show();
            //-     }
            //- });
        }); 

        jQuery(($) => {
            //esto de abajo es para al momento de abrir el modal de editar cargar los datos
            $('.editar').on('click', function() {
                var clientID = $(this).data('id');
                var clients=!{ JSON.stringify(clientes) };
                for(var key in clients){
                    var obj=clients[key];
                    if(obj["id"] == clientID){
                        break;
                    }
                }
                //Aqui empieza a llenarse el modal
                if(obj["picture"]!=null){
                    $('#avatar-edit').attr('src', "/uploads/clients/"+obj["picture"]);
                }else{
                    $('#avatar-edit').attr('src',"/img/iconos/default.png");
                }

                $('#name_edit').val(obj["name"]).change();
                $('#phone_edit').val(obj["phone_number"]).change();
                $('#email_edit').val(obj["email"]).change();
                $('#rfc_edit').val(obj["rfc"]).change();
                $('#area_edit option[value=' + obj["Client_Area"]["id"] + ']').prop('selected', 'selected').change();

                //esto es para poner el id en el action del form
                 $('#form-edit-client').attr('action', '/clientes/edit/'+obj["id"]);
                 $('#btnEliminar').data('id',obj["id"]);
                 $('#btnEliminar').data('name',obj["name"]);

                //esto es para poner el status en el select
                if(obj["status"]=="active"){
                    $('#status_edit option[value="active"]').prop('selected', 'selected').change();
                }else{
                    $('#status_edit option[value="inactive"]').prop('selected', 'selected').change();
                }
            });

            $('#btnEliminar').on('click', function() {
                    var userID = $(this).data('id');
                    var name = $(this).data('name');

                    $('#text-delete').text('¿Estás seguro de que deseas eliminar al cliente '+ name +'?');
                    //esto es para poner el id en el action del form
                    $('#form-delete-client').attr('action', '/clientes/delete/'+ userID);
                });
        });
        
        $(document).ready(function () {
            //ajax del form de nuevo
            $("#form-new-client").bind("submit",function(){
                // Capturamnos el boton de envío
                var btnEnviar = $("#btnEnviar");

                $.ajax({
                    type: $(this).attr("method"),
                    url: $(this).attr("action"),
                    data: new FormData(this),
                    dataType: "JSON",
                    processData: false,
                    contentType: false,
                    beforeSend: function(data){
                        /*
                        * Esta función se ejecuta durante el envió de la petición al
                        * servidor.
                        * */
                        // btnEnviar.text("Enviando"); Para button
                        btnEnviar.val("Enviando"); // Para input de tipo button
                        btnEnviar.attr("disabled","disabled");
                    },
                    complete:function(data){
                        /*
                        * Se ejecuta al termino de la petición
                        * */
                        btnEnviar.val("Enviar formulario");
                    },
                    success: function(data){
                        /*
                        * Se ejecuta cuando termina la petición y esta ha sido
                        * correcta
                        * */
                        $('#errors').css('display', 'none');
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> Cliente registrado con éxito!',
                            status: 'success',
                            pos: 'top-center',
                            timeout: 2000
                        });
                        setTimeout(
                        function()
                        {
                            window.location.href = window.location.origin + '/clientes'
                        }, 2000);
                    },
                    error: function(data){
                        /*
                        * Se ejecuta si la peticón ha sido erronea
                        * */
                        btnEnviar.removeAttr("disabled");
                        $('#errors').css('display', 'block');
                        var errors = JSON.parse(data.responseText);
                        var errorsContainer = $('#errors');
                        errorsContainer.innerHTML = '';
                        var errorsList = '';
                        for (var i = 0; i < errors.length; i++) {
                            //if(errors[i].redirect)
                                //window.location.href = window.location.origin + '/logout'
                            errorsList += '<div class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>'+ errors[i].msg +'</p></div>';
                        }
                        errorsContainer.html(errorsList);

                        alert("Problemas al tratar de enviar el formulario");
                    }
                });
                // Nos permite cancelar el envio del formulario
                return false;
            });


            //- ajax para editar un cliente
            $("#form-edit-client").bind("submit",function(){
                // Capturamnos el boton de envío
                var btnGuardar = $("#btnGuardar");

                $.ajax({
                    type: $(this).attr("method"),
                    url: $(this).attr("action"),
                    data: new FormData(this),
                    dataType: "JSON",
                    processData: false,
                    contentType: false,
                    beforeSend: function(data){
                        /*
                        * Esta función se ejecuta durante el envió de la petición al
                        * servidor.
                        * */
                        // btnEnviar.text("Enviando"); Para button
                        btnGuardar.val("Enviando"); // Para input de tipo button
                        btnGuardar.attr("disabled","disabled");
                    },
                    complete:function(data){
                        /*
                        * Se ejecuta al termino de la petición
                        * */
                        btnGuardar.val("Enviar formulario");
                    },
                    success: function(data){
                        /*
                        * Se ejecuta cuando termina la petición y esta ha sido
                        * correcta
                        * */
                        $('#errors-edit').css('display', 'none');
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> Cliente actualizado con éxito!',
                            status: 'success',
                            pos: 'top-center',
                            timeout: 2000
                        });
                        setTimeout(
                        function()
                        {
                            window.location.href = window.location.origin + '/clientes'
                        }, 2000);
                    },
                    error: function(data){
                        /*
                        * Se ejecuta si la peticón ha sido erronea
                        * */
                        btnGuardar.removeAttr("disabled");
                        $('#errors-edit').css('display', 'block');
                        console.log(data.responseText);
                        var errors = JSON.parse(data.responseText);
                        var errorsContainer = $('#errors-edit');
                        errorsContainer.innerHTML = '';
                        var errorsList = '';
                        for (var i = 0; i < errors.length; i++) {
                            //if(errors[i].redirect)
                                //window.location.href = window.location.origin + '/logout'
                            errorsList += '<div class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>'+ errors[i].msg +'</p></div>';
                        }
                        errorsContainer.html(errorsList);

                        alert("Problemas al tratar de enviar el formulario");
                    }
                });
                // Nos permite cancelar el envio del formulario
                return false;
            });

            //ajax del form de eliminar
            $("#form-delete-client").bind("submit",function(){
                // Capturamnos el boton de envío
                var btnEliminar = $("#btnEliminar");

                $.ajax({
                    type: $(this).attr("method"),
                    url: $(this).attr("action"),
                    data: $(this).serialize(),
                    beforeSend: function(data){
                        /*
                        * Esta función se ejecuta durante el envió de la petición al
                        * servidor.
                        * */
                        // btnEnviar.text("Enviando"); Para button
                        btnEliminar.val("Enviando"); // Para input de tipo button
                        btnEliminar.attr("disabled","disabled");
                    },
                    complete:function(data){
                        /*
                        * Se ejecuta al termino de la petición
                        * */
                        btnEliminar.val("Enviar formulario");
                    },
                    success: function(data){
                        /*
                        * Se ejecuta cuando termina la petición y esta ha sido
                        * correcta
                        * */
                        $('#errors-delete').css('display', 'none');
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span> Cliente eliminado con éxito!',
                            status: 'success',
                            pos: 'top-center',
                            timeout: 2000
                        });
                        setTimeout(
                        function()
                        {
                            window.location.href = window.location.origin + '/clientes'
                        }, 2000);
                    },
                    error: function(data){
                        /*
                        * Se ejecuta si la peticón ha sido erronea
                        * */
                        btnEliminar.removeAttr("disabled");
                        $('#errors-delete').css('display', 'block');
                        var errors = JSON.parse(data.responseText);
                        var errorsContainer = $('#errors-delete');
                        errorsContainer.innerHTML = '';
                        var errorsList = '';
                        for (var i = 0; i < errors.length; i++) {
                            //if(errors[i].redirect)
                                //window.location.href = window.location.origin + '/logout'
                            errorsList += '<div class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>'+ errors[i].msg +'</p></div>';
                        }
                        errorsContainer.html(errorsList);

                        alert("Problemas al tratar de enviar el formulario");
                    }
                });
                // Nos permite cancelar el envio del formulario
                return false;
            });
        });
    

        
