extends ../main

block head
    title ConsultarQ - Proyectos Layouts
    link(rel="stylesheet" href="/stylesheets/others.css")
block content
    div(class="uk-container")
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
            div(class="uk-text-left   uk-text-large   uk-text-bold uk-text-primary uk-margin-bottom") Editar tipo de proyecto
            div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                a(href="/proyectos/layouts" class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-muted uk-link-heading uk-animation-shake uk-animation-fast")
                    img(src="/img/iconos/netGray.png" style="width:20px;height:20px;margin-top:2px;" class="uk-margin-small-right")
                    div Regresar
        div(class="uk-grid-small uk-child-width-1 uk-grid-row-large uk-margin-top" uk-grid)
            div(class="uk-card uk-card-default uk-card-body uk-padding-remove-bottom")
                div(class="uk-flex uk-flex-top uk-flex-between")
                    div(class="uk-text-primary uk-margin-bottom uk-margin-small-left") #{layout.name}
                    div(class="uk-flex uk-flex-middle")
                        img(src="/icons/edit.png" uk-toggle="target: #editLayout-form" width="13px" class="uk-margin-small-right" style="cursor:pointer")
                        img(src="/icons/delete.png" uk-toggle="target: #deleteLayout-form" width="13px" class="uk-margin-small-left" style="cursor:pointer")
                div(class="uk-overflow-auto")
                    table(class="uk-table uk-table-small uk-table-divider uk-table-justify")
                        thead
                            tr
                                th(class="uk-text-center uk-table-shrink") #
                                th(class="uk-text-truncate uk-table-expand") Concepto
                                th(class="uk-text-truncate uk-table-expand") Descripción
                                th(class="uk-text-truncate uk-width-small") Unidad
                                th(class="uk-text-truncate  uk-width-small") Costo/U
                        tbody 
                            if layout.Project_Requirements_Layout
                                each task, index in layout.Project_Requirements_Layout.Tasks_Layouts
                                    tr(uk-toggle="target: #editTask-form" class="editar" data-id=task.id) 
                                        td(class="uk-text-truncate") #{index+1}
                                        td(class="uk-text-truncate") #{task.concept}
                                        td(class="uk-text-truncate") #{task.description}
                                        td(class="uk-text-truncate") #{task.unit}
                                        td(class="uk-text-truncate") #{task.price}
                div(class="uk-flex uk-flex-right  uk-flex-middle uk-width-1 uk-margin-top uk-margin-small-bottom")
                    img(src="/icons/more.png" width="20px" style="margin-top:3px; margin-right:5px;")
                    a(uk-toggle="target: #task-form") Agregar Tarea
        //- Modal para editar tarea
        div(id="editTask-form" uk-modal)
            div(class="uk-modal-dialog uk-modal-body")
                div(class="uk-flex uk-flex-between")
                    div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Editar tarea
                    div(class="uk-flex uk-flex-middle" uk-toggle="target: #deleteTask-form")
                        img(src="/icons/delete.png" width="12px")
                        a(class="uk-text-danger uk-text-small uk-margin-small-left") Eliminar
                button(type='button' uk-close='' class="uk-modal-close-default")
                div(id="errors-editTask")
                form(class="uk-card-body uk-padding-small" id="form-edit-task"  method="POST" enctype="multipart/form-data")
                    div(class="uk-child-width-1 uk-grid")
                        div
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='off' id="concepto-edit" name="concepto" value='Concepto número 1' onchange="this.setAttribute('value', this.value);" required='' maxlength="255")
                                label(for='concepto-edit' title='Concepto' data-title='Concepto')
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='off' id="descripcion-edit" name="descripcion" value='Descripción número 1' onchange="this.setAttribute('value', this.value);" required='' maxlength="500")
                                label(for='descripcion-edit' title='Descripcion' data-title='Descripcion')
                        div
                            div.uk-grid
                                div(class="uk-width-1-2@s uk-width-1-1")
                                    .field.uk-margin-bottom
                                        input(type='text' autocomplete='off'  id="unidad-edit" name="unidad"  value='Kg.' onchange="this.setAttribute('value', this.value);" required='' maxlength="10")
                                        label(for='unidad-edit' title='Unidad' data-title='Unidad')
                                div(class="uk-width-1-2@s uk-width-1-1")
                                    .field.uk-margin-bottom
                                        input(type='number' autocomplete='off'  id="costo-edit" name="costo"  value='100000' onchange="this.setAttribute('value', this.value);")
                                        label(for='costo-edit' title='Costo' data-title='Costo')
                        div(class="uk-flex uk-flex-right@s uk-flex-center uk-margin-top")
                            button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                            button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="editTask" type="submit") Guardar
        //- Modal para eliminar tarea 
        div(id="deleteTask-form" uk-modal)
            div(class="uk-modal-dialog uk-modal-body")
                div(class="uk-text-left  uk-text-large uk-text-bold uk-text-danger") Eliminar tarea
                button(type='button' uk-close='' class="uk-modal-close-default")
                div(id="errors-deleteTask")
                div(class="uk-text-left" id="textTask-delete") ¿Estás seguro de que deseas eliminar la tarea?
                form(class="uk-card-body uk-padding-small" id="form-delete-task" action=""  method="POST")
                    div(class="uk-width-1 uk-flex-right uk-flex uk-flex-middle")
                        button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                        button(class="uk-button uk-button-danger uk-border-rounded uk-text-capitalize" id="deleteTask" type="submit") Eliminar
        //- Modal para eliminar layout
        div(id="deleteLayout-form" uk-modal)
            div(class="uk-modal-dialog uk-modal-body")
                div(class="uk-text-left  uk-text-large uk-text-bold uk-text-danger") Eliminar layout
                button(type='button' uk-close='' class="uk-modal-close-default")
                div(id="errors-deleteLayout")
                div(class="uk-text-left" id="textLayout-delete") ¿Estás seguro de que deseas eliminar la plantilla de proyecto "#{layout.name}"?
                form(class="uk-card-body uk-padding-small" id="form-delete-layout" action="/proyectos/layout/"+layout.id+"/eliminar"  method="POST")
                    div(class="uk-width-1 uk-flex-right uk-flex uk-flex-middle")
                        button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                        button(class="uk-button uk-button-danger uk-border-rounded uk-text-capitalize" id="deleteLayout" type="submit") Eliminar
        //- Modal para agregar tarea
        div(id="task-form" uk-modal)
            div(class="uk-modal-dialog uk-modal-body")
                div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Agregar tarea
                button(type='button' uk-close='' class="uk-modal-close-default")
                div(id="errors-task")
                form(class="uk-card-body uk-padding-small" id="form-new-task" action="/proyectos/layout/"+layout.id+"/tarea/agregar" method="POST")
                    div(class="uk-child-width-1 uk-grid")
                        div
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='off' id="concepto" name="concepto" value='' onchange="this.setAttribute('value', this.value);" required='' maxlength="255")
                                label(for='concepto' title='Concepto' data-title='Concepto')
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='off' id="descripcion" name="descripcion" value='' onchange="this.setAttribute('value', this.value);" required='' maxlength="500")
                                label(for='descripcion' title='Descripcion' data-title='Descripcion')
                        div
                            div.uk-grid
                                div(class="uk-width-1-2@s uk-width-1-1")
                                    .field.uk-margin-bottom
                                        input(type='text' autocomplete='off'  id="unidad" name="unidad"  value='' onchange="this.setAttribute('value', this.value);" required='' maxlength="10")
                                        label(for='unidad' title='Unidad' data-title='Unidad')
                                div(class="uk-width-1-2@s uk-width-1-1")
                                    .field.uk-margin-bottom
                                        input(type='number' autocomplete='off'  id="costo" name="costo"  value='' onchange="this.setAttribute('value', this.value);")
                                        label(for='costo' title='Costo' data-title='Costo')
                        div(class="uk-flex uk-flex-right@s uk-flex-center uk-margin-top")
                            button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                            button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="task" type="submit") Agregar
        //- Modal para editar layout
        div(id="editLayout-form" uk-modal)
            div(class="uk-modal-dialog uk-modal-body")
                div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Editar layout
                button(type='button' uk-close='' class="uk-modal-close-default")
                div(id="errors-editLayout")
                form(class="uk-card-body uk-padding-small" id="form-edit-layout" action="/proyectos/layout/"+layout.id+"/editar" method="POST")
                    div(class="uk-child-width-1 uk-grid")
                        div
                            .field.uk-margin-bottom
                                input(type='text' autocomplete='off' id="titulo-edit" name="titulo" value=layout.name onchange="this.setAttribute('value', this.value);" required='')
                                label(for='titulo-edit' title='Tipo de proyecto' data-title='Tipo de proyecto')
                        div(class="uk-flex uk-flex-right@s uk-flex-center uk-margin-top")
                            button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                            button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="layout-edit" type="submit") Guardar
    if layout.Project_Requirements_Layout
        script.
            $('.editar').on('click', function() {
                var taskId = $(this).data('id'); //
                var tasks=!{ JSON.stringify(layout.Project_Requirements_Layout.Tasks_Layouts) };
                var layout=!{ JSON.stringify(layout) };
                for(var key in tasks){
                    var obj=tasks[key];
                    if(obj["id"] == taskId){
                        break;
                    }
                }
                //Aqui empieza a llenarse el modal
                $('#concepto-edit').val(obj["concept"]).change();
                $('#descripcion-edit').val(obj["description"]).change();
                $('#unidad-edit').val(obj["unit"]).change();
                $('#costo-edit').val(obj["price"]).change();
                

                //esto es para poner el id en el action del form
                $('#form-edit-task').attr('action', '/proyectos/layout/'+layout["id"]+'/tarea/editar/'+obj["id"]);
                $('#form-delete-task').attr('action', '/proyectos/layout/'+layout["id"]+'/tarea/eliminar/'+obj["id"]);
            });
    script.
        $(document).ready(function () {
            var layout=!{ JSON.stringify(layout) };
            //ajax del form de nuevo
            $("#form-edit-layout").bind("submit",function(){
                // Capturamnos el boton de envío
                var btnEnviar = $("#btnEnviar");

                $.ajax({
                    type: $(this).attr("method"),
                    url: $(this).attr("action"),
                    data: $(this).serialize(),
                    beforeSend: function(data){
                        /*
                        * Esta función se ejecuta durante el envió de la petición al
                        * servidor.
                        * */
                        // btnEnviar.text("Enviando"); Para button
                        btnEnviar.val("Enviando"); // Para input de tipo button
                        btnEnviar.attr("disabled","disabled");
                    },
                    complete:function(data){
                        /*
                        * Se ejecuta al termino de la petición
                        * */
                        btnEnviar.val("Enviar formulario");
                    },
                    success: function(data){
                        /*
                        * Se ejecuta cuando termina la petición y esta ha sido
                        * correcta
                        * */
                        $('#errors-editLayout').css('display', 'none');
                        UIkit.notification({
                            message: '<span uk-icon=\'icon: check\'></span>Layout editar con éxito!',
                            status: 'success',
                            pos: 'top-center',
                            timeout: 2000
                        });
                        setTimeout(
                        function()
                        {
                            window.location.reload(true)
                        }, 1000);
                    },
                    error: function(data){
                        /*
                        * Se ejecuta si la peticón ha sido erronea
                        * */
                        btnEnviar.removeAttr("disabled");
                        $('#errors').css('display', 'block');
                        var errors = JSON.parse(data.responseText);
                        var errorsContainer = $('#errors');
                        errorsContainer.innerHTML = '';
                        var errorsList = '';
                        for (var i = 0; i < errors.length; i++) {
                            //if(errors[i].redirect)
                                //window.location.href = window.location.origin + '/logout'
                            errorsList += '<div class="uk-alert-danger" uk-alert><a class="uk-alert-close" uk-close></a><p>'+ errors[i].msg +'</p></div>';
                        }
                        errorsContainer.html(errorsList);

                        UIkit.notification({
                            message: '<span uk-icon=\'icon: close\'></span>Problemas al tratar de enviar el formulario, inténtelo más tarde.',
                            status: 'danger',
                            pos: 'top-center',
                            timeout: 2000
                        });
                    }
                });
                // Nos permite cancelar el envio del formulario
                return false;
            });
        });
                                    