extends ../main

block head
    title ConsultarQ - Proyecto
    link(rel="stylesheet" href="/stylesheets/others.css")
    link(rel="stylesheet" href="/stylesheets/oProgressBar.css")
    link(rel="stylesheet" href="/stylesheets/oProyectMenu.css")
    link(rel="stylesheet" href="/stylesheets/cajaChica.css")
block content
    div(class="uk-container")
        div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
                div(class="uk-text-left   uk-text-large   uk-text-bold uk-text-primary uk-margin-bottom") Proyecto 
                div(class="uk-animation-toggle uk-margin-bottom" tabindex="0")
                a(href="javascript:history.back(-1);" class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-link-muted uk-link-heading uk-animation-shake" style="color:#6B6B72 !important")
                    img(src="/icons/netGray.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                    div Regresar
        div(class="uk-grid-collapse uk-child-width-1-1 uk-grid-row-large" uk-grid)
            div()
                div(class="uk-card uk-card-default")
                    -
                        var h = proyecto.color
                        var colorchido = h

                        let r = 0, g = 0, b = 0;

                        // 3 digits
                        if (h.length == 4) {
                            r = "0x" + h[1] + h[1];
                            g = "0x" + h[2] + h[2];
                            b = "0x" + h[3] + h[3];

                        // 6 digits
                        } else if (h.length == 7) {
                            r = "0x" + h[1] + h[2];
                            g = "0x" + h[3] + h[4];
                            b = "0x" + h[5] + h[6];
                        }

                        if(r > 200 && g > 200 && b > 200){
                            colorchido = '#000000'
                        }
                        
                        var color =  "rgba("+ +r + "," + +g + "," + +b + ",0.53)";
                    //- COLOR
                    div(class="uk-card-header uk-padding-remove uk-flex" style="background:"+color /* va cambiando el background*/)
                        //- NOMBRE
                        div(class="uk-width-3-5 uk-margin-small-left uk-margin-small-top uk-margin-small-bottom")
                            div(class="" style="color: #222238;") #{proyecto.name}
                            if proyecto.Pro_Type
                                div(class="uk-text-small" style="min-height: 20.8px") #{proyecto.Pro_Type.name}
                            else
                                div(class="uk-text-small" style="min-height: 20.8px") 
                        //- ESTATUS
                        div(class="uk-width-2-5 uk-flex uk-flex-right uk-flex-middle")
                            if proyecto.status == 'ATRASADO' || proyecto.status == 'CANCELADO'
                                button(class="uk-margin-small-right" uk-tooltip="title: Estatus; pos: left" style="background:#F1A5A5;border-radius:2px;color:#DC5454;border:none;padding:7px;font-size:8px;") ATRASADO
                            else if proyecto.status == 'EN TIEMPO' || proyecto.status == 'ACTIVO'
                                button(class="uk-margin-small-right" uk-tooltip="title: Estatus; pos: left" style="background: #86DDAE;border-radius:2px;color: #129326;border:none;padding:7px;font-size:8px;" /* CAMBIA EL COLOR DEL TEXTO Y BACKGROUND*/) #{proyecto.status}
                    div(class="uk-width-1-1 uk-flex uk-flex-wrap")    
                        div(class="uk-width-1-3@l" style="border-right: 1px solid #EEEEEE; padding:5px")
                            //- FECHAS
                            div(class="uk-card-body uk-padding-remove")
                                div(class="uk-width-1 uk-margin-small-top")
                                    div(class="o-progress-date-line")
                                    //- EL COLOR DE LAS BOLITAS DEBE IR CAMBIANDO
                                    div(class="o-progress-date-start" style="background:"+colorchido)
                                    div(class="o-progress-date-end" style="background:"+colorchido)
                                    -
                                        const fechaII = new Date(proyecto.start_date+"T11:22:33+0000")
                                        const fechaI = fechaII.getTime()
                                        const fechaTI = new Date(proyecto.deadline+"T11:22:33+0000")
                                        const fechaT = fechaTI.getTime()
                                        var hoyI
                                        if(proyecto.end_date)
                                            hoyI = new Date(proyecto.end_date+"T11:22:33+0000")
                                        else
                                            hoyI = new Date()
                                        const hoy = hoyI.getTime()

                                        var diasF
                                        diasF = ((hoy-fechaI)/(fechaT-fechaI))*100

                                        if(diasF > 91)
                                            diasF = 91
                                        else if(diasF < 5)
                                            diasF = 5

                                        const MESES = [
                                        "ENE",
                                        "FEB",
                                        "MAR",
                                        "ABR",
                                        "MAY",
                                        "JUN",
                                        "JUL",
                                        "AGO",
                                        "SEP",
                                        "OCT",
                                        "NOV",
                                        "DIC",
                                        ];
                                        const f = new Date();

                                        mesI = MESES[fechaII.getMonth()];
                                        mesF = MESES[fechaTI.getMonth()];
                                    if proyecto.end_date
                                        div(class="o-progress-date-today" uk-tooltip=hoyI.getDate()+"/"+(hoyI.getMonth()+1)+"/"+hoyI.getFullYear() style="margin-left:"+diasF+"%; border: 1px solid"+colorchido /*Aquí en el margin va el valor del avance, calcularlo de alguna forma, pero no debe pasar de 93% ni ser menos de 5%*/)
                                    else
                                        div(class="o-progress-date-today" uk-tooltip="Hoy" style="margin-left:"+diasF+"%; border: 1px solid"+colorchido /*Aquí en el margin va el valor del avance, calcularlo de alguna forma, pero no debe pasar de 93% ni ser menos de 5%*/)
                                    div(class="o-progress-date-dates")
                                        div(class="uk-text-small") #{fechaII.getDate()}, #{mesI}, #{fechaII.getFullYear()}
                                        div(class="uk-text-small") #{fechaTI.getDate()}, #{mesF}, #{fechaTI.getFullYear()}
                            //- AVANCES TAREAS
                            -
                                var tareasListas = 0
                                var tareasFaltantes = 0
                                var tareasTotales = 0
                                var porcentaje = 100
                                var porcentajeRedondeado = 99
                            if proyecto.Tasks
                                each task in proyecto.Tasks
                                    -
                                        tareasTotales++
                                        if(task.check)
                                            tareasListas++
                                        else
                                            tareasFaltantes++
                                if tareasTotales > 0
                                    -
                                        porcentaje = parseInt((tareasListas/tareasTotales)*100)
                                        porcentajeRedondeado = Math.ceil(porcentaje/5)*5;
                                        if(porcentajeRedondeado >= 100)
                                            porcentajeRedondeado = 99
                            div(class="uk-width-1 uk-flex uk-flex-wrap uk-margin-small-top")
                                div(class="uk-width-2-5 uk-flex uk-flex-middle uk-flex-center")
                                    div(class="progress--circle progress--"+porcentajeRedondeado style="margin-top:0px" /*LOS VALORES DEBEN SER REDONDEADOS A MULTIPLOS DE 5, para el 100 porciento se ve mejor si se uusa unvalor diferente como por ejemplo 99*/)
                                        div(class="progress__number") #{porcentaje}%
                                div(class="uk-width-3-5 uk-width-1@s uk-width-3-5")
                                    div(class="uk-text-large" style="color: #222238;") #{tareasListas}
                                    div(class="uk-text-small") Tareas listas
                                    div(class="uk-text-large" style="color: #222238;") #{tareasFaltantes}
                                    div(class="uk-text-small") Tareas faltantes
                        div(class="uk-width-1-3@l uk-flex uk-flex-wrap" style="border-right: 1px solid #EEEEEE")
                            div(class="uk-width-1-1 uk-padding-small div-datos-cliente-proyecto" style="border-bottom: 1px solid #EEEEEE;")
                                div.uk-width-1-1.uk-text-small.uk-margin-small-bottom DATOS DEL CLIENTE
                                div.uk-width-1-1.uk-flex.uk-flex-wrap
                                    div(class="uk-width-auto@s")
                                        img(src="/img/iconos/default.png" style="width:60px; height:60px; border-radius:50px; margin-right:15px;object-fit:cover")
                                    div(class="uk-width-expand@s uk-text-small")
                                        div.uk-flex.uk-width-1-1
                                            div(class="uk-width-auto@l" style="color:#222238; font-size:16px; font-weight:400") 
                                                a.uk-link-reset.uk-text-truncate(href="/clientes/cliente") Gabriela Leonarda García
                                        div.uk-width-1-1.uk-flex.uk-flex-middle(uk-tooltip="title: Teléfono; pos: left")
                                            <span uk-icon="icon:receiver; ratio: 0.8" style="margin-right:5px"></span> 4432209378
                                        div.uk-width-1-1.uk-flex.uk-flex-middle(style="word-break: break-all" uk-tooltip="title: Correo electrónico; pos: left")
                                            <span uk-icon="icon:mail; ratio: 0.8" style="margin-right:5px"></span> correo@ejemplo.com
                                        div.uk-width-1-1.uk-flex.uk-flex-middle(uk-tooltip="title: Área; pos: left")
                                            <span uk-icon="icon:thumbnails; ratio: 0.8" style="margin-right:5px"></span> Área chida
                                        div.uk-width-1-1.uk-flex.uk-flex-middle(uk-tooltip="title: Estatus; pos: left")
                                            div(class="uk-width-4-5@m btn-status-active") ACTIVO
                                            //- div(class="uk-width-4-5@m btn-status-active btn-status-noactive") INACTIVO
                            div(class="uk-width-1-1 uk-padding-small uk-text-small div-docs-proyecto") 
                                div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-flex-middle
                                    div(class="uk-width-auto@s uk-text-truncate" style="margin-right:5px") Cotización
                                    div(class="uk-width-expand@s uk-text-emphasis" style="font-size:14px;") 
                                        a.uk-link-reset.uk-text-truncate(href="#") Nombre de la cotización.PDF<span uk-icon="icon:file-pdf; ratio: 0.6" style="margin-left:3px"></span>
                                div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-margin-small-top.uk-flex-middle
                                    div(class="uk-width-auto@s" style="margin-right:5px") Contrato
                                    div(class="uk-width-expand@s uk-text-emphasis" style="font-size:14px")
                                        a.uk-link-reset.uk-text-truncate(href="#") Nombre del contrato.PDF<span uk-icon="icon:file-pdf; ratio: 0.6" style="margin-left:3px"></span>
                        
                        div(class="uk-width-1-3@l uk-padding-small" style="border-right: 1px solid #EEEEEE;")
                            div.uk-width-1-1.uk-text-small.uk-margin-small-bottom MIEMBROS DEL PROYECTO
                            div.uk-width-1-1.uk-text-small.uk-margin-small-bottom.uk-flex.uk-flex-middle
                                div(class="uk-width-auto")
                                    img(src="/img/iconos/default.png"  style="width:30px; height:30px; border-radius:50px; margin-right:15px;object-fit:cover")
                                div(class="uk-width-expand uk-text-small")
                                    div.uk-flex.uk-width-1-1
                                        div(class="uk-width-auto@m" style="color:#222238; font-size:14px; font-weight:400") 
                                            a.uk-link-reset.uk-text-truncate(href="#") Gabriela Leonarda García
                                    div.uk-flex.uk-width-1-1
                                        div(class="uk-width-auto@m" style="font-size:14px; font-weight:400") Líder - 40%
                            div.uk-width-1-1.uk-text-small.uk-margin-small-bottom.uk-flex.uk-flex-middle
                                div(class="uk-width-auto")
                                    img(src="/img/iconos/default.png" style="width:30px; height:30px; border-radius:50px; margin-right:15px;object-fit:cover")
                                div(class="uk-width-expand uk-text-small")
                                    div.uk-flex.uk-width-1-1
                                        div(class="uk-width-auto@m" style="color:#222238; font-size:14px; font-weight:400") 
                                            a.uk-link-reset.uk-text-truncate(href="#") Gabriela Leonarda García
                                    div.uk-flex.uk-width-1-1
                                        div(class="uk-width-auto@m" style="font-size:14px; font-weight:400") Líder - 40%
                            div.uk-width-1-1.uk-text-small.uk-margin-small-bottom.uk-flex.uk-flex-middle
                                div(class="uk-width-auto")
                                    img(src="/img/iconos/default.png" style="width:30px; height:30px; border-radius:50px; margin-right:15px;object-fit:cover")
                                div(class="uk-width-expand uk-text-small")
                                    div.uk-flex.uk-width-1-1
                                        div(class="uk-width-auto@m" style="color:#222238; font-size:14px; font-weight:400") 
                                            a.uk-link-reset.uk-text-truncate(href="#") Gabriela Leonarda García
                                    div.uk-flex.uk-width-1-1
                                        div(class="uk-width-auto@m" style="font-size:14px; font-weight:400") Líder - 40%
                            div.uk-width-1-1.uk-text-small.uk-margin-small-bottom.uk-flex.uk-flex-middle
                                div(class="uk-width-auto")
                                    img(src="/img/iconos/default.png" style="width:30px; height:30px; border-radius:50px; margin-right:15px;object-fit:cover")
                                div(class="uk-width-expand uk-text-small")
                                    div.uk-flex.uk-width-1-1
                                        div(class="uk-width-auto@m" style="color:#222238; font-size:14px; font-weight:400") 
                                            a.uk-link-reset.uk-text-truncate(href="#") Gabriela Leonarda García
                                    div.uk-flex.uk-width-1-1
                                        div(class="uk-width-auto@m" style="font-size:14px; font-weight:400") Líder - 40%
                            
                            div.uk-width-1-1.uk-text-small.uk-flex.uk-flex-right 
                                a.uk-flex.uk-flex-middle.uk-text-small.uk-link-heading(id="ver-comentarios" uk-tooltip="title: Comentarios; pos: left")
                                    <span uk-icon="icon: commenting; ratio: 0.7" style="margin-right:5px"></span> 18
        //- COMENTARIOS-----------------------
        div(class="uk-card uk-width-1-1 uk-card-default uk-margin-top uk-padding-small"  id="Comentarios")
            div.width-1-1.uk-text-small.uk-flex.uk-flex-wrap-reverse.uk-flex-middle
                div.uk-width-auto 
                    b COMENTARIOS
                div.uk-width-auto.uk-margin-left.uk-flex.uk-flex-middle
                    <span uk-icon="icon: commenting; ratio: 0.7" style="margin-right:5px"></span> 18
                div.uk-width-expand
                    a.uk-flex.uk-flex-middle(id="nover-comentarios" style="width:max-content; float:right")
                        <img src="/icons/notEye.png" style="width:15px;height:15px; margin-right:5px">
                        |Ocultar
            //- COMENTARIO
            div.uk-width-1-1.uk-margin-small.uk-padding-small.uk-flex.uk.flex.wrap(style="border: solid 1px #EEEEEE; boder-radius:2px")
                div(class="uk-width-auto")
                    img(src="/img/iconos/default.png" style="width:40px; height:40px; border-radius:50px; margin-right:15px;object-fit:cover")
                div(class="uk-width-expand uk-text-small uk-flex uk-flex-column")
                    div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-flex-middle.uk-flex-between
                        div(class="uk-width-auto@s" style="color:#222238; margin-right:5px") Gabriela Leonarda García
                        div(class="uk-width-auto@s" style="font-size:12px;") 16 de Noviembre de 2020
                    div.uk-width-1-1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente quisquam expedita inventore asperiores, vitae ullam natus dicta cupiditate! Accusam
            //- COMENTARIO
            div.uk-width-1-1.uk-margin-small.uk-padding-small.uk-flex.uk.flex.wrap(style="border: solid 1px #EEEEEE; boder-radius:2px")
                div(class="uk-width-auto")
                    img(src="/img/iconos/default.png" style="width:40px; height:40px; border-radius:50px; margin-right:15px;object-fit:cover")
                div(class="uk-width-expand uk-text-small uk-flex uk-flex-column")
                    div.uk-width-1-1.uk-flex.uk-flex-wrap.uk-flex-middle.uk-flex-between
                        div(class="uk-width-auto@s" style="color:#222238; margin-right:5px") Gabriela Leonarda García
                        div(class="uk-width-auto@s" style="font-size:12px;") 16 de Noviembre de 2020
                    div.uk-width-1-1 Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente quisquam expedita inventore asperiores, vitae ullam natus dicta cupiditate! Accusam
            //- AGREGAR COMENTARIO
            div.uk-text-primary.uk-margin-small-bottom(style="font-size:13px") Agregar comentario
            textarea(class="uk-textarea field uk-margin-bottom uk-text-emphasis textarea-caja" style="font-size:14px; border-radius:3px; height:auto !important;" placeholder="Máximo 150 caracteres" autocomplete='on' id="descripcion" name="descripcion" value='' onchange="this.setAttribute('value', this.value);" required='')
            div(class="uk-width-1 uk-flex-right uk-flex uk-margin-small-top")
                //- button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" id="btn-close-modal" type="button" ) Cancelar
                button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="btnEnviar" type="submit") Agregar
        //- OBSERVACIONES-------------
        div(class="uk-card uk-width-1-1 uk-card-default uk-margin-top uk-padding-small") 
            div.width-1-1.uk-text-small.uk-flex.uk-flex-wrap-reverse.uk-flex-middle 
                b OBSERVACIONES
            div.uk-text-small.uk-text-emphasis Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit voluptatibus vitae laborum enim. In pariatur, fuga, eum perspiciatis soluta fugit sunt est magnam saepe inventore quos, ullam vel nihil distinctio.
                | Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, possimus unde officia doloremque quod assumenda eligendi perferendis magni officiis dignissimos enim earum quae saepe illum tenetur necessitatibus id, nihil cupiditate.
        //- TAREAS DEL PROYECTO------------------------
        
        div(class="uk-card uk-card-default uk-width-1-1 uk-margin-top uk-card-body uk-padding-small")
            div(class="uk-flex uk-flex-top uk-flex-between")
                div(class="uk-text-primary uk-margin-bottom ") 
                    b CASA - HABITACIÓN
                //- div(class="uk-flex uk-flex-middle")
                    a.uk-margin-small-right(href="#" uk-toggle="target: #editDocument-form")
                        <span uk-icon="pencil"></span>
                    a.uk-margin-small-left(href="#" uk-toggle="target: #deleteDocument-form" style="color:#DC5454")
                        <span uk-icon="trash"></span>
            div(class="uk-overflow-auto")
                table(class="uk-table uk-table-small uk-table-divider uk-table-justify uk-text-small")
                    thead
                        tr
                            th(class="uk-text-center uk-table-shrink") #
                            th(class="uk-text-truncate uk-table-expand") Concepto
                            th(class="uk-text-truncate uk-table-expand") Descripción
                            th(class="uk-text-truncate uk-width-small") Cantidad
                            th(class="uk-text-truncate uk-width-small") Unidad
                            th(class="uk-text-truncate  uk-width-small") Costo/U
                            th(class="uk-text-truncate uk-width-small") Costo/T
                            th(class="uk-text-truncate uk-width-small") Realizado
                    tbody
                        //- each task, index in project.Project_Requirement.Tasks
                        tr(uk-toggle="target: #editTask-form" class="editar" data-id=1) 
                            td 1
                            td Elaborar planos
                            td Descripción
                            td 1
                            td 1
                            td -
                            td -
                            //- if task.check
                            td Sí 
                            //- else
                                td No
            div(class="uk-flex uk-flex-left uk-text-small uk-flex-middle uk-width-1 uk-margin-top uk-margin-small-bottom")
                a(href="#" uk-toggle="target: #task-form")
                        <span uk-icon="icon: plus-circle; ratio: 0.8" style="margin-right:5px"></span>Agregar tarea
        //- FINANZAS DEL PROYECTO--------------------------
        div(class="uk-flex uk-flex-wrap-reverse uk-width-1-1")
            div(class="uk-card uk-card-default uk-width-1-1 uk-margin-top")
                div(class="uk-card-body uk-text-center uk-padding-remove")
                    div(class="uk-text-primary uk-width-1-1 uk-padding-small uk-text-left uk-margin-remove") 
                        b MOVIMIENTOS DEL PROYECTO
                    div(class="uk-overflow-auto uk-margin-remove")
                        table(class="uk-table uk-table-divider uk-text-small")
                            thead
                                tr
                                    th(class="uk-text-center") #
                                    th(class="uk-text-center") NOMBRE
                                    th(class="uk-text-center") CONCEPTO
                                    th(class="uk-text-center") MONTO
                                    th(class="uk-text-center") MOVIMIENTO
                                    th(class="uk-text-center") FECHA
                            tbody
                                //- each transaccion in transacciones
                                tr(class="info" uk-toggle="target: #modal-info" data-id=1)
                                    td 1
                                    td Nombre completo
                                    td Concepto
                                    td Canditad
                                    //- if(transaccion.T_type == 'egreso')
                                        td Egreso
                                    //- else
                                    td Ingreso
                                    td 2020-01-02

        
        //- PROVEEDORES DEL PROYECTO---------------------------
        div(class="uk-flex uk-flex-wrap-reverse uk-width-1-1")
            div(class="uk-card uk-card-default uk-width-1-1 uk-margin-top")
                div(class="uk-card-body uk-text-center uk-padding-remove")
                    div(class="uk-text-primary uk-width-1-1 uk-padding-small uk-text-left uk-margin-remove") 
                        b PRESTADORES EXTERNOS
                    div(class="uk-overflow-auto uk-margin-remove")
                        table(class="uk-table uk-table-divider uk-text-small")
                            thead
                                tr
                                    th(class="uk-text-center") #
                                    th(class="uk-text-center") NOMBRE
                                    th(class="uk-text-center") ÁREA
                                    th(class="uk-text-center") TELÉFONO
                                    th(class="uk-text-center") ESTATUS
                            tbody
                                //- each transaccion in transacciones
                                tr(class="info" uk-toggle="target: #modal-infoP" data-id=1)
                                    td 1
                                    td Nombre del prestador
                                    td Área
                                    td 4444444444
                                    //- if(prestador.status == 'active')
                                        td(class="status") Activo
                                    //- else
                                    td(class="status") Inactivo
    
    
    
    
    
    //- Modal para editar tarea
    div(id="editTask-form" uk-modal)
        div(class="uk-modal-dialog uk-modal-body")
            div(class="uk-flex uk-flex-between")
                div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Editar tarea
                div(class="uk-flex uk-flex-middle uk-text-small")
                    a.uk-flex.uk-flex-middle(href="#" uk-toggle="target: #deleteTask-form" style="color:#DC5454")
                        <span uk-icon="icon:trash; ratio:0.8" style="margin-right:5px"></span>Eliminar
                    //- img(src="/icons/delete.png" width="12px")
                    //- a(class="uk-text-danger uk-text-small uk-margin-small-left") Eliminar
            button(type='button' uk-close='' class="uk-modal-close-default")
            div(id="errors-editTask")
            form(class="uk-card-body uk-padding-remove uk-margin-top" id="form-edit-task" action="" method="POST" enctype="multipart/form-data")
                div(class="uk-child-width-1 uk-grid")
                    div
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='off' id="concepto-edit" name="concepto" value='' onchange="this.setAttribute('value', this.value);" required='')
                            label(for='concepto-edit' title='Concepto' data-title='Concepto')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='off' id="descripcion-edit" name="descripcion" value='' onchange="this.setAttribute('value', this.value);" required='')
                            label(for='descripcion-edit' title='Descripcion' data-title='Descripcion')
                    div
                        div.uk-grid
                            div(class="uk-width-1-2@s uk-width-1-1")
                                .field.uk-margin-bottom
                                    input(type='number' autocomplete='off'  id="cantidad-edit" name="cantidad"  value='' onchange="this.setAttribute('value', this.value);" required='')
                                    label(for='cantidad-edit' title='Cantidad' data-title='Cantidad')
                            div(class="uk-width-1-2@s uk-width-1-1")
                                .field.uk-margin-bottom
                                    input(type='text' autocomplete='off'  id="unidad-edit" name="unidad"  value='' onchange="this.setAttribute('value', this.value);" required='')
                                    label(for='unidad-edit' title='Unidad' data-title='Unidad')
                            div(class="uk-width-1-2@s uk-width-1-1")
                                .field.uk-margin-bottom
                                    input(type='number' autocomplete='off'  id="costo-edit" name="costo"  value='' onchange="this.setAttribute('value', this.value);")
                                    label(for='costo-edit' title='Costo' data-title='Costo')
                            div(class="uk-width-1-2@s uk-width-1-1 uk-flex uk-flex-top uk-flex-left")
                                input(type='checkbox' autocomplete='off'  id="realizado-edit" name="realizado" onchange="this.setAttribute('value', this.value);" style="margin-top:5px")
                                label(for='realizado-edit' class="uk-text-primary") Realizado
                    div(class="uk-flex uk-flex-right@s uk-flex-center uk-margin-top")
                        button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                        button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="editTask" type="submit") Guardar
    //- Modal para eliminar tarea 
    div(id="deleteTask-form" uk-modal)
        div(class="uk-modal-dialog uk-modal-body")
            div(class="uk-text-left  uk-text-large uk-text-bold uk-text-danger") Eliminar tarea
            button(type='button' uk-close='' class="uk-modal-close-default")
            div(id="errors-deleteTask")
            div(class="uk-text-left" id="textTask-delete") ¿Estás seguro de que deseas eliminar la tarea?
            form(class="uk-card-body uk-padding-small" id="form-delete-task" action=""  method="POST")
                div(class="uk-width-1 uk-flex-right uk-flex uk-flex-middle")
                    button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                    button(class="uk-button uk-button-danger uk-border-rounded uk-text-capitalize" id="deleteTask" type="submit") Eliminar         
    //- Modal para agregar tarea
    div(id="task-form" uk-modal)
        div(class="uk-modal-dialog uk-modal-body")
            div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Agregar tarea
            button(type='button' uk-close='' class="uk-modal-close-default")
            div(id="errors-task")
            form(class="uk-card-body uk-padding-remove uk-margin-top" id="form-new-task" action="/proyectos/documentacion/"+1+"/tarea/agregar" method="POST" enctype="multipart/form-data")
                div(class="uk-child-width-1 uk-grid")
                    div
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='off' id="concepto" name="concepto" value='' onchange="this.setAttribute('value', this.value);" required='')
                            label(for='concepto' title='Concepto' data-title='Concepto')
                        .field.uk-margin-bottom
                            input(type='text' autocomplete='off' id="descripcion" name="descripcion" value='' onchange="this.setAttribute('value', this.value);" required='')
                            label(for='descripcion' title='Descripcion' data-title='Descripcion')
                    div
                        div.uk-grid
                            div(class="uk-width-1-2@s uk-width-1-1")
                                .field.uk-margin-bottom
                                    input(type='number' autocomplete='off'  id="cantidad" name="cantidad"  value='' onchange="this.setAttribute('value', this.value);" required='')
                                    label(for='cantidad' title='Cantidad' data-title='Cantidad')
                            div(class="uk-width-1-2@s uk-width-1-1")
                                .field.uk-margin-bottom
                                    input(type='text' autocomplete='off'  id="unidad" name="unidad"  value='' onchange="this.setAttribute('value', this.value);" required='')
                                    label(for='unidad' title='Unidad' data-title='Unidad')
                            div(class="uk-width-1-2@s uk-width-1-1")
                                .field.uk-margin-bottom
                                    input(type='number' autocomplete='off'  id="costo" name="costo"  value='' onchange="this.setAttribute('value', this.value);")
                                    label(for='costo' title='Costo' data-title='Costo')
                            div(class="uk-width-1-2@s uk-width-1-1 uk-flex uk-flex-top uk-flex-left")
                                input(type='checkbox' autocomplete='off'  id="realizado" name="realizado" onchange="this.setAttribute('value', this.value);" style="margin-top:5px")
                                label(for='realizado' class="uk-text-primary") Realizado
                    div(class="uk-flex uk-flex-right@s uk-flex-center uk-margin-top")
                        button(class="uk-button uk-button-text uk-margin-medium-right uk-text-primary uk-text-capitalize uk-modal-close" type="button" ) Cancelar
                        button(class="uk-button uk-button-primary uk-border-rounded uk-text-capitalize" id="task" type="submit") Agregar
    
    //-Modal informacion completa de caja
    div(id="modal-info" uk-modal)
        div(class="uk-modal-dialog uk-modal-body")
            div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
                div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Información completa
                div(tabindex="0")
                    a.uk-flex.uk-flex-middle.uk-text-small(href="/caja/editar-registro" id="btnEdit")
                        <span uk-icon="icon:pencil; ratio:0.8" style="margin-right:5px"></span>Editar
                    //- a(class="uk-text-right uk-flex-inline uk-flex uk-flex-middle uk-text-primary uk-link-heading editar" href="/caja/editar-registro" id="btnEdit")
                    //-     img(src="/icons/edit.png" style="width:20px;height:20px;margin-top:3px" class="uk-margin-small-right")
                    //-     div Editar
            button(class="uk-modal-close-default" type="button" uk-close='')
            form(class="uk-card-body uk-padding-remove uk-margin-top")
                div
                    div(style="font-size:14px; color:#999") ID
                    input.uk-text-emphasis.uk-padding-remove(id="info-id" name="info-id" placeholder="1" disabled style="border:none; background-color:transparent; margin-bottom:10px")
                    div(class="uk-child-auto@m uk-flex uk-flex-wrap uk-flex-between")
                        div.uk-flex.uk-flex-column
                            div(style="font-size:14px; color:#999") NOMBRE
                            input.uk-text-emphasis.uk-padding-remove(id="info-nombre" name="info-nombre" placeholder="Nombre completo" disabled style="border:none; background-color:transparent; margin-bottom:10px")
                        div.uk-flex.uk-flex-column
                            div(style="font-size:14px; color:#999") CONCEPTO
                            input.uk-text-emphasis.uk-padding-remove(id="info-concepto" name="info-concepto" placeholder="Concepto 1" disabled style="border:none; background-color:transparent; margin-bottom:10px")
                    div(class="uk-child-auto@m uk-flex uk-flex-wrap uk-flex-between")    
                        div.uk-flex.uk-flex-column
                            div(style="font-size:14px; color:#999") MOVIMIENTO
                            input.uk-text-emphasis.uk-padding-remove(id="info-direccion" name="info-direccion" placeholder="Ingreso" disabled style="border:none; background-color:transparent; margin-bottom:10px")
                        div.uk-flex.uk-flex-column
                            div(style="font-size:14px; color:#999") MONTO
                            input.uk-text-emphasis.uk-padding-remove(id="info-monto" name="info-monto" placeholder="$8000" disabled style="border:none; background-color:transparent; margin-bottom:10px")
                    div(class="uk-child-auto@m uk-flex uk-flex-wrap uk-flex-between")    
                        div.uk-flex.uk-flex-column
                            div(style="font-size:14px; color:#999") TIPO DE PAGO
                            input.uk-text-emphasis.uk-padding-remove(id="info-tipo-pago" name="info-tipo-pago" placeholder="Efectivo" disabled style="border:none; background-color:transparent; margin-bottom:10px")
                        div.uk-flex.uk-flex-column
                            div(style="font-size:14px; color:#999") DESCRIPCIÓN
                            input.uk-text-emphasis.uk-padding-remove(id="info-descripcion" name="info-descripcion" placeholder="Descripción" disabled style="border:none; background-color:transparent; margin-bottom:10px")
                    div(class="uk-child-auto@m uk-flex uk-flex-wrap uk-flex-between")    
                        div.uk-flex.uk-flex-column
                            div(style="font-size:14px; color:#999") FECHA DE REGISTRO
                            input.uk-text-emphasis.uk-padding-remove(id="info-fecha" name="info-fecha" placeholder="2020-01-01" disabled style="border:none; background-color:transparent; margin-bottom:10px")
                        div.uk-flex.uk-flex-column
                            div(style="font-size:14px; color:#999") DEDUCIBLE
                            input.uk-text-emphasis.uk-padding-remove(id="info-deducible" name="info-deducible" placeholder="Si" disabled style="border:none; background-color:transparent; margin-bottom:10px")
                
    //-Modal informacion completa de prestadores
    div(id="modal-infoP" uk-modal)
        div(class="uk-modal-dialog uk-modal-body")
            div(class="uk-flex uk-flex-between uk-margin-top uk-flex-middle uk-flex-wrap")
                div(class="uk-text-left  uk-text-large uk-text-bold uk-text-primary") Información completa
                //- div(tabindex="0")
                //-     a.uk-flex.uk-flex-middle.uk-text-small(href="#" id="btnEdit" uk-toggle="target: #modal-editar" data-id="")
                //-         <span uk-icon="icon:pencil; ratio:0.8" style="margin-right:5px"></span>Editar
            button(class="uk-modal-close-default" type="button" uk-close='')
            form(class="uk-card-body uk-padding-remove uk-margin-top")
                div
                    div(style="font-size:14px; color:#999") ID
                    input.uk-text-emphasis.uk-padding-remove(id="info-id" name="info-id" placeholder="1" disabled style="border:none; background-color:transparent; margin-bottom:10px")
                    div(class="uk-child-auto@m uk-flex uk-flex-wrap uk-flex-between")
                        div.uk-flex.uk-flex-column
                            div(style="font-size:14px; color:#999") NOMBRE
                            input.uk-text-emphasis.uk-padding-remove(id="info-nombre-p" name="info-nombre-p" placeholder="Nombre completo" disabled style="border:none; background-color:transparent; margin-bottom:10px")
                        div.uk-flex.uk-flex-column
                            div(style="font-size:14px; color:#999") ÁREA
                            input.uk-text-emphasis.uk-padding-remove(id="info-area" name="info-area" placeholder="Área 1" disabled style="border:none; background-color:transparent; margin-bottom:10px")
                    div(class="uk-child-auto@m uk-flex uk-flex-wrap uk-flex-between")    
                        div.uk-flex.uk-flex-column
                            div(style="font-size:14px; color:#999") TELÉFONO
                            input.uk-text-emphasis.uk-padding-remove(id="info-telefono" name="info-telefono" placeholder="4444444444" disabled style="border:none; background-color:transparent; margin-bottom:10px")
                        div.uk-flex.uk-flex-column
                            div(style="font-size:14px; color:#999") ESTATUS
                            input.uk-text-emphasis.uk-padding-remove(id="info-estatus" name="info-estatus" placeholder="Activo" disabled style="border:none; background-color:transparent; margin-bottom:10px")
                    div(class="uk-child-auto@m uk-flex uk-flex-wrap uk-flex-between")    
                        div.uk-flex.uk-flex-column
                            div(style="font-size:14px; color:#999") CORREO ELECTRÓNICO
                            input.uk-text-emphasis.uk-padding-remove(id="info-correo" name="info-correo" placeholder="correo@ejemplo.com" disabled style="border:none; background-color:transparent; margin-bottom:10px")
                        div.uk-flex.uk-flex-column
                            div(style="font-size:14px; color:#999") NÚMERO DE DRO
                            input.uk-text-emphasis.uk-padding-remove(id="info-dro" name="info-drp" placeholder="#####" disabled style="border:none; background-color:transparent; margin-bottom:10px")
    
    
    
    
    
    
    
    script.
        jQuery(($) => {
            $('#ver-comentarios').on('click', function() {
                if ($("#Comentarios").is(':visible')) {
                    $("#Comentarios").slideUp('fast');
                }
                else{
                    $("#Comentarios").slideDown('fast');                    
                }
            });
            $('#nover-comentarios').on('click', function() {
                if ($("#Comentarios").is(':visible')) {
                    $("#Comentarios").slideUp('fast');
                }
                else{
                    $("#Comentarios").slideDown('fast');                    
                }
            });
        });